@{
    var Page = ViewData["PageData"] as string;
}
<style>
    .breadcrum{
        padding: 2%;
    }
    .SideLink{

        font-size: 18px;
        color: #797979;
    }
    .SideLink:hover{
        cursor: pointer;
        color:#e3165b;
    }
</style>

<div class="breadcrum">
    @if(!string.IsNullOrEmpty(Page))
    {
        <a href="#" class="SideLink"><span></span>/</a> <a href="#" class="SideLink">@Page</a>
    }
    else
    {
        <a href="#" class="SideLink"><span></span>/</a>
    }
</div>