/**  =====================
      Chart css start
==========================  **/

.nvd-chart {
    height: 400px;
}

.peity-chart .peity {
    width: 100%;
    height: 250px;
}

#areachart .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke: #187c68;
    -webkit-animation: dash 1.5s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite;
    stroke-linecap: round
}

@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px
    }
}

.morris-hover {
    position: absolute;
    left: auto !important;
    top: -70px !important;
    right: 0;
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
}


/**====== Chart css end ======**/
