
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutProjects.cshtml";
    var result = ViewData["Projects"] as List<Projects>;
    var userName =  ViewData["Name"] as string;
}
<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-body text-center">

                    <h1> Welcome back @userName </h1>
                
            </div>
        </div>
    </div>
</div>
<div class="row">
<div class="col-md-12">
  <div class="main-card mb-3 card">
        <div class="card-body"><h5 class="card-title text-center">Select a project</h5>
          <div class="row">
              <div class="col-md-1">
                  {Initials}
              </div>
              <div class="col-md-3">
                  <h1>{Project Name}</h1>
              </div>
              <div class="col-md-8">
                <a><i class="fas fa-cogs"></i> Settings</a>
                <a><i class="far fa-user"></i> Add User</a>

              </div>
          </div>
        </div>
    </div>
</div>
</div>
