@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");
/*! popup layout */
.e-control.e-popup {
  height: auto;
  position: absolute;
  width: auto;
  z-index: 1000;
}

.e-control.e-popup.e-popup-open {
  display: block;
}

.e-control.e-popup.e-popup-close {
  display: none;
}

.e-control .e-js [class^='e-'], .e-control .e-js [class*=' e-'] {
  box-sizing: content-box;
}
