@{
    var ImageLocation = ViewData["ImageLocation"] as string;    
}


<div class="row" style="background-color: #1c86c8; margin: 0; height: 200px;">
    @if(string.IsNullOrEmpty(ImageLocation))
    {
        <img src="~/Logo/image-not-found.png" class="img-fluid" style="width:100%; height:100%;object-fit:contain;" />
    }
    else
    {
        <img src="@ImageLocation" class="img-fluid" style="width:100%; height:100%; object-fit:contain;" />
    }
</div>