/*! radiobutton layout */
.e-radio-wrapper {
  display: inline-block;
  line-height: 1;
}

.e-control.e-radio {
  -webkit-appearance: none;
  height: 1px;
  opacity: 0;
  position: absolute;
  width: 1px;
}

.e-control.e-radio + label {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.e-control.e-radio + label .e-label {
  display: inline-block;
  font-family: "Segoe UI", "GeezaPro", "DejaVu Serif", sans-serif, "-apple-system", "BlinkMacSystemFont";
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  padding-left: 28px;
  vertical-align: text-top;
  white-space: normal;
}

.e-control.e-radio + label::before {
  border: 2px solid;
  border-radius: 50%;
  box-sizing: border-box;
  content: '';
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

.e-control.e-radio + label:focus::before {
  box-shadow: none;
}

.e-control.e-radio + label::after {
  border: 1px solid;
  border-radius: 50%;
  box-sizing: border-box;
  content: '';
  height: 8px;
  left: 6px;
  position: absolute;
  top: 6px;
  transform: scale(0);
  width: 8px;
}

.e-control.e-radio + label .e-ripple-container {
  border-radius: 50%;
  height: 34px;
  left: -8px;
  position: absolute;
  top: -8px;
  width: 34px;
  z-index: 1;
}

.e-control.e-radio + label.e-right .e-label, .e-control.e-radio + label.e-rtl .e-label {
  padding-left: 0;
  padding-right: 28px;
}

.e-control.e-radio + label.e-right::before, .e-control.e-radio + label.e-rtl::before {
  left: auto;
  right: 0;
}

.e-control.e-radio + label.e-right::after, .e-control.e-radio + label.e-rtl::after {
  left: auto;
  right: 6px;
}

.e-control.e-radio + label.e-right .e-ripple-container, .e-control.e-radio + label.e-rtl .e-ripple-container {
  left: auto;
  right: -8px;
}

.e-control.e-radio + label.e-right.e-rtl .e-label {
  padding-left: 28px;
  padding-right: 0;
}

.e-control.e-radio + label.e-right.e-rtl::before {
  left: 0;
  right: auto;
}

.e-control.e-radio + label.e-right.e-rtl::after {
  left: 6px;
  right: auto;
}

.e-control.e-radio + label.e-right.e-rtl .e-ripple-container {
  left: -8px;
  right: auto;
}

.e-control.e-radio + label.e-small .e-label {
  line-height: 14px;
  padding-left: 22px;
}

.e-control.e-radio + label.e-small::before {
  height: 14px;
  width: 14px;
}

.e-control.e-radio + label.e-small::after {
  height: 6px;
  left: 4px;
  top: 4px;
  width: 6px;
}

.e-control.e-radio + label.e-small .e-ripple-container {
  left: -10px;
  top: -10px;
}

.e-control.e-radio + label.e-small.e-right .e-label, .e-control.e-radio + label.e-small.e-rtl .e-label {
  padding-left: 0;
  padding-right: 22px;
}

.e-control.e-radio + label.e-small.e-right::after, .e-control.e-radio + label.e-small.e-rtl::after {
  left: auto;
  right: 4px;
}

.e-control.e-radio + label.e-small.e-right .e-ripple-container, .e-control.e-radio + label.e-small.e-rtl .e-ripple-container {
  left: auto;
  right: -10px;
}

.e-control.e-radio + label.e-small.e-right.e-rtl .e-label {
  padding-left: 22px;
  padding-right: 0;
}

.e-control.e-radio + label.e-small.e-right.e-rtl::after {
  left: 4px;
  right: auto;
}

.e-control.e-radio + label.e-small.e-right.e-rtl .e-ripple-container {
  left: -10px;
  right: auto;
}

.e-control.e-radio:checked + label::after {
  transform: scale(1);
  transition: none;
}

.e-bigger .e-control.e-radio + label .e-label, .e-control.e-radio + label.e-bigger .e-label {
  font-size: 15px;
  line-height: 22px;
  padding-left: 32px;
}

.e-bigger .e-control.e-radio + label::before, .e-control.e-radio + label.e-bigger::before {
  height: 22px;
  width: 22px;
}

.e-bigger .e-control.e-radio + label::after, .e-control.e-radio + label.e-bigger::after {
  height: 10px;
  left: 6px;
  top: 6px;
  width: 10px;
}

.e-bigger .e-control.e-radio + label .e-ripple-container, .e-control.e-radio + label.e-bigger .e-ripple-container {
  height: 48px;
  left: -11px;
  top: -11px;
  width: 48px;
}

.e-bigger .e-control.e-radio + label.e-right .e-label, .e-bigger .e-control.e-radio + label.e-rtl .e-label, .e-control.e-radio + label.e-bigger.e-right .e-label, .e-control.e-radio + label.e-bigger.e-rtl .e-label {
  padding-left: 0;
  padding-right: 32px;
}

.e-bigger .e-control.e-radio + label.e-right::after, .e-bigger .e-control.e-radio + label.e-rtl::after, .e-control.e-radio + label.e-bigger.e-right::after, .e-control.e-radio + label.e-bigger.e-rtl::after {
  left: auto;
  right: 6px;
}

.e-bigger .e-control.e-radio + label.e-right .e-ripple-container, .e-bigger .e-control.e-radio + label.e-rtl .e-ripple-container, .e-control.e-radio + label.e-bigger.e-right .e-ripple-container, .e-control.e-radio + label.e-bigger.e-rtl .e-ripple-container {
  left: auto;
  right: -11px;
}

.e-bigger .e-control.e-radio + label.e-right.e-rtl .e-label, .e-control.e-radio + label.e-bigger.e-right.e-rtl .e-label {
  padding-left: 32px;
  padding-right: 0;
}

.e-bigger .e-control.e-radio + label.e-right.e-rtl::after, .e-control.e-radio + label.e-bigger.e-right.e-rtl::after {
  left: 6px;
  right: auto;
}

.e-bigger .e-control.e-radio + label.e-right.e-rtl .e-ripple-container, .e-control.e-radio + label.e-bigger.e-right.e-rtl .e-ripple-container {
  left: -12px;
  right: auto;
}

.e-bigger .e-control.e-radio + label.e-small .e-label, .e-control.e-radio + label.e-bigger.e-small .e-label {
  line-height: 18px;
  padding-left: 28px;
}

.e-bigger .e-control.e-radio + label.e-small::before, .e-control.e-radio + label.e-bigger.e-small::before {
  height: 18px;
  width: 18px;
}

.e-bigger .e-control.e-radio + label.e-small::after, .e-control.e-radio + label.e-bigger.e-small::after {
  height: 8px;
  left: 5px;
  top: 5px;
  width: 8px;
}

.e-bigger .e-control.e-radio + label.e-small .e-ripple-container, .e-control.e-radio + label.e-bigger.e-small .e-ripple-container {
  height: 36px;
  left: -11px;
  top: -11px;
  width: 36px;
}

.e-bigger .e-control.e-radio + label.e-small.e-right .e-label, .e-bigger .e-control.e-radio + label.e-small.e-rtl .e-label, .e-control.e-radio + label.e-bigger.e-small.e-right .e-label, .e-control.e-radio + label.e-bigger.e-small.e-rtl .e-label {
  padding-left: 0;
  padding-right: 28px;
}

.e-bigger .e-control.e-radio + label.e-small.e-right::after, .e-bigger .e-control.e-radio + label.e-small.e-rtl::after, .e-control.e-radio + label.e-bigger.e-small.e-right::after, .e-control.e-radio + label.e-bigger.e-small.e-rtl::after {
  left: auto;
  right: 5px;
}

.e-bigger .e-control.e-radio + label.e-small.e-right .e-ripple-container, .e-bigger .e-control.e-radio + label.e-small.e-rtl .e-ripple-container, .e-control.e-radio + label.e-bigger.e-small.e-right .e-ripple-container, .e-control.e-radio + label.e-bigger.e-small.e-rtl .e-ripple-container {
  left: auto;
  right: -10px;
}

.e-bigger .e-control.e-radio + label.e-small.e-right.e-rtl .e-label, .e-control.e-radio + label.e-bigger.e-small.e-right.e-rtl .e-label {
  padding-left: 28px;
  padding-right: 0;
}

.e-bigger .e-control.e-radio + label.e-small.e-right.e-rtl::after, .e-control.e-radio + label.e-bigger.e-small.e-right.e-rtl::after {
  left: 5px;
  right: auto;
}

.e-bigger .e-control.e-radio + label.e-small.e-right.e-rtl .e-ripple-container, .e-control.e-radio + label.e-bigger.e-small.e-right.e-rtl .e-ripple-container {
  left: -10px;
  right: auto;
}

/*! radiobutton theme */
.e-control.e-radio + label::before {
  background-color: #000;
  border-color: #fff;
}

.e-control.e-radio + label.e-focus .e-ripple-container {
  background-color: #000;
}

.e-control.e-radio + label .e-label {
  color: #fff;
}

.e-control.e-radio + label .e-ripple-element {
  background-color: #ff4081;
}

.e-control.e-radio + label:active .e-ripple-element {
  background-color: rgba(0, 0, 0, 0.3);
}

.e-control.e-radio:focus + label::before {
  border-color: #ffd939;
  box-shadow: none;
}

.e-control.e-radio:hover + label::before {
  border-color: #ffd939;
}

.e-control.e-radio:checked + label::before {
  background-color: #000;
  border-color: #ffd939;
}

.e-control.e-radio:checked + label::after {
  background-color: #ffd939;
  color: #ffd939;
}

.e-control.e-radio:checked + label:active .e-ripple-element {
  background-color: #ff4081;
}

.e-control.e-radio:checked + .e-focus .e-ripple-container {
  background-color: #ff4081;
}

.e-control.e-radio:checked + .e-focus::before {
  outline: #fff 1px solid;
  outline-offset: 2px;
}

.e-control.e-radio:checked:focus + label::before {
  border-color: #ffd939;
}

.e-control.e-radio:checked:focus + label::after {
  background-color: #ffd939;
}

.e-control.e-radio:checked + label:hover::before {
  border-color: #ffd939;
}

.e-control.e-radio:checked + label:hover::after {
  background-color: #ffd939;
}

.e-control.e-radio:disabled + label {
  cursor: default;
  pointer-events: none;
}

.e-control.e-radio:disabled + label::before {
  border-color: #757575;
  cursor: default;
}

.e-control.e-radio:disabled + label .e-ripple-container {
  background-color: transparent;
}

.e-control.e-radio:disabled + label .e-ripple-container::after {
  background-color: transparent;
  cursor: default;
}

.e-control.e-radio:disabled + label .e-label {
  color: #000;
}

.e-control.e-radio:disabled:checked + label::before {
  background-color: transparent;
  border-color: #757575;
}

.e-control.e-radio:disabled:checked + label::after {
  background-color: #757575;
  border-color: #757575;
  cursor: default;
}

.e-control.e-radio:disabled:checked + label .e-ripple-container {
  background-color: transparent;
}

.e-control.e-radio:disabled:checked + label .e-ripple-container::after {
  background-color: transparent;
}

.e-control .e-js [class^='e-'], .e-control .e-js [class*=' e-'] {
  box-sizing: content-box;
}
