
 
.e-chat:hover {
    background-color: #fff;
    border-color: #000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.22);
}
.e-chat:hover {
    background-color: #fff;
    border-color: #000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.22);
}
.e-chat {
    -webkit-tap-highlight-color: transparent;
    background-color: #fff;
    border: 1px none #000;
        border-top-color: rgb(0, 0, 0);
        border-right-color: rgb(0, 0, 0);
        border-bottom-color: rgb(0, 0, 0);
        border-left-color: rgb(0, 0, 0);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
    color: rgba(0, 0, 0, 0.87);
    outline: none;
}

#chat-treeview  .e-content{
    height: 77vh !important;
    overflow: inherit; 
}
.e-chat {
    border-radius: 2px;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif", "-apple-system", "BlinkMacSystemFont";
    font-size: 15px;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 36px;
    min-height: 36px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    vertical-align: middle;
    width: 100%;
}
 
.e-chat {
    -webkit-tap-highlight-color: transparent;
    background-color: #fff;
    border: 1px none #000;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
    color: rgba(0, 0, 0, 0.87);
    outline: none;
}
.e-chat {
    border-radius: 2px;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif", "-apple-system", "BlinkMacSystemFont";
    font-size: 15px;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 36px;
    min-height: 36px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    vertical-align: middle;
    width: 100%;
}



.e-UserList:hover {
    background-color: #fff;
    border-color: #000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.22);
}
.e-UserList:hover {
    background-color: #fff;
    border-color: #000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.22);
}
.e-UserList {
    -webkit-tap-highlight-color: transparent;
    background-color: #fff;
    border: 1px none #000;
        border-top-color: rgb(0, 0, 0);
        border-right-color: rgb(0, 0, 0);
        border-bottom-color: rgb(0, 0, 0);
        border-left-color: rgb(0, 0, 0);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
    color: rgba(0, 0, 0, 0.87);
    outline: none;
}
.e-UserList {
    border-radius: 2px;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif", "-apple-system", "BlinkMacSystemFont";
    font-size: 15px;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 36px;
    min-height: 36px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    vertical-align: middle;
    width: 100%;
}
 
.e-UserList {
    -webkit-tap-highlight-color: transparent;
    background-color: #fff;
    border: 1px none #000;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
    color: rgba(0, 0, 0, 0.87);
    outline: none;
}
.e-UserList {
    border-radius: 2px;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif", "-apple-system", "BlinkMacSystemFont";
    font-size: 15px;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 36px;
    min-height: 36px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    vertical-align: middle;
    width: 100%;
}

.ChatArea {
    background-color: #dae1de;
    height: 82vh;
    margin: 5px;
    overflow: auto;
 }
 .AlignText{
    width: 90%;
    text-align: justify;
    font-family: "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif", "-apple-system", "BlinkMacSystemFont";
    font-weight: 500;
}
.ChatMessage{
    margin: 0;
    color: rgba(51, 62, 77, 0.87);
    background-color: #9f9fa821;
}
    .ChatMessage:hover {
        background-color: #41b3d3;
        color: white;
    }

 .ResponsiveChatImage{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    -webkit-box-flex: 0;
    pointer-events: none;
    margin-top: 20%;
    margin-left: 20%;
 }
 .ResponsiveUserListImage
 {
       width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    -webkit-box-flex: 0;
    pointer-events: none;
    margin-top: 20%;
    margin-left: 20%;
 }
 
 .ChatUserName{
    color: #fff;
    font-size: 25px;
 }

 .ChatMessageContent{
    user-select: text;
    color: var(--text-normal);
    font-weight: 93;
    font-size: 1.5rem;
    line-height: 1.375rem;
    word-wrap: break-word;
 }

 .UserList{
  height: 93vh;
  overflow-x: -moz-hidden-unscrollable;

 }
 .UserListRow{
    min-height: 70px;
    padding-left: 20px;
    padding-right: 20px;
   
 }
 .UserListRow:hover{
    background-color: #fff;
    border-color: #000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.22);
 }

 .NewMessage{
     color: red;
 }

 .HoverActivatioName{
    word-wrap: break-word;
 }
     
 .HoverActivatioName:hover{
     cursor: pointer;
     color: red;
 }