//
// theme default
//

@each $theme, $map in $theme-colors {
  .body-#{$theme} {
    background-color: map-get($map, body-bg);
    color: map-get($map, body-color);
  }

  .sidebar-#{$theme} {
    background-color: map-get($map, sidebar-bg);
  }

  .sidebar-#{$theme} .ps__rail-y.ps--clicking .ps__thumb-y,
  .sidebar-#{$theme} .ps__rail-y:focus .ps__thumb-y,
  .sidebar-#{$theme} .ps__rail-y:hover .ps__thumb-y,
  .sidebar-#{$theme} .ps__thumb-y {
    background-color: map-get($map, scrollbar-bg);
  }

  .sidebar-#{$theme} .list {
    color: map-get($map, list-color);
  }

  .sidebar-#{$theme} .list-link {
    color: map-get($map, list-link);
  }

  .sidebar-#{$theme} .list-hidden {
    border-left: rem(1) solid map-get($map, list-border);
  }

  .sidebar-#{$theme} .link-current,
  .sidebar-#{$theme} .list-link:hover {
    background-color: map-get($map, list-link-bg);
  }

  .navbar-#{$theme} .navbar-link {
    color: map-get($map, navbar-link);
  }

  .navbar-#{$theme} .navbar-bars {
    color: map-get($map, navbar-link);
  }

  .dropdown-logged-#{$theme} .dropdown-link {
    color: map-get($map, dropdown-link);
  }

  .dropdown-menu-#{$theme} {
    background-color: map-get($map, dropdown-bg);
  }

  .dropdown-menu-#{$theme} .dropdown-logged-item {
    color: map-get($map, dropdown-link);
  }

  .dropdown-menu-#{$theme} .dropdown-logged-item:hover {
    background-color: map-get($map, dropdown-item-bg);
    color: map-get($map, dropdown-link);
  }

  .dropdown-menu-#{$theme} .dropdown-menu-arrow:after {
    border-bottom-color: map-get($map, dropdown-bg);
  }

  .content-#{$theme} {
    background-color: map-get($map, content-bg);
  }

  // opacity icons
  .sidebar-#{$theme} .link-arrow:before,
  .sidebar-#{$theme} .list-link .fa,
  .navbar-#{$theme} .navbar-bars,
  .dropdown-logged-#{$theme} .dropdown-logged-toggle:before,
  .dropdown-menu-#{$theme} .dropdown-logged-item .fa {
    opacity: 0.3;
  }

  .navbar-#{$theme} .navbar-bars:hover {
    opacity: 0.7;
  }

  .sidebar-#{$theme} .link-arrow.active:before,
  .sidebar-#{$theme} .list-link:hover .fa {
    opacity: 1.0;
  }

  .ps .ps__rail-y.ps--clicking,
  .ps .ps__rail-y:focus,
  .ps .ps__rail-y:hover {
    background: none;
  }

  .nanobar .bar {
    background-color: map-get($map, nanobar-bg);
  }
}
