@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");
/*! component icons */
.e-calendar .e-header .e-date-icon-prev::before {
  content: '\e910';
}

.e-calendar .e-header .e-date-icon-next::before {
  content: '\e916';
}

/*! calendar layout */
.e-controlejs-calendar {
  display: block;
}

.e-control.e-calendar {
  -webkit-tap-highlight-color: transparent;
  border-radius: 2px;
  display: block;
  overflow: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.e-control.e-calendar.e-rtl .e-header .e-title {
  float: right;
  text-align: right;
}

.e-control.e-calendar.e-rtl .e-header .e-icon-container {
  float: left;
}

.e-control.e-calendar .e-header {
  background: none;
  display: table;
  font-weight: 500;
  position: relative;
  text-align: center;
  width: 100%;
}

.e-control.e-calendar .e-header button {
  background: transparent;
  border: 0;
  padding: 0;
  text-decoration: none;
}

.e-control.e-calendar .e-header span {
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  line-height: 16px;
  padding: 10px;
  vertical-align: middle;
}

.e-control.e-calendar .e-header span.e-disabled {
  cursor: default;
}

.e-control.e-calendar .e-week-header {
  padding: 0;
}

.e-control.e-calendar th {
  cursor: default;
  font-size: 13px;
  font-weight: normal;
  text-align: center;
}

.e-control.e-calendar .e-content .e-selected, .e-control.e-calendar .e-content .e-state-hover {
  border-radius: 0;
}

.e-control.e-calendar .e-content span.e-day {
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  overflow: hidden;
  padding: 0;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

.e-control.e-calendar .e-content th, .e-control.e-calendar .e-content td {
  box-sizing: border-box;
}

.e-control.e-calendar .e-content td.e-disabled {
  opacity: 0.35;
  pointer-events: none;
  -ms-touch-action: none;
      touch-action: none;
}

.e-control.e-calendar .e-content td {
  cursor: pointer;
  padding: 2px;
  text-align: center;
}

.e-control.e-calendar .e-content td.e-week-number {
  color: #fff;
  font-family: italic;
  font-size: 12px;
  font-weight: 500;
}

.e-control.e-calendar .e-content td.e-overlay {
  background: none;
  width: initial;
}

.e-control.e-calendar .e-content table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 0;
  float: left;
  margin: 0;
  outline: 0;
  padding: 0 10px 10px;
  table-layout: fixed;
  width: 100%;
}

.e-control.e-calendar .e-content td.e-other-month > span.e-day {
  display: none;
  font-weight: normal;
}

.e-control.e-calendar .e-content tr.e-month-hide {
  display: none;
  font-weight: normal;
}

.e-control.e-calendar .e-content tr.e-month-hide, .e-control.e-calendar .e-content td.e-other-month {
  pointer-events: none;
  -ms-touch-action: none;
      touch-action: none;
}

.e-control.e-calendar .e-content tr.e-month-hide, .e-control.e-calendar .e-content td.e-other-month.e-disabled {
  pointer-events: none;
  -ms-touch-action: none;
      touch-action: none;
}

.e-control.e-calendar .e-content td.e-week-number:hover span.e-day, .e-control.e-calendar .e-content td.e-week-number:hover {
  background-color: #303030;
  cursor: default;
}

.e-control.e-calendar .e-header .e-prev, .e-control.e-calendar .e-header .e-next {
  border-radius: 50%;
  display: inline-block;
  font-size: 14px;
  vertical-align: middle;
}

.e-control.e-calendar .e-header .e-title {
  cursor: pointer;
  display: inline-block;
  float: left;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}

.e-control.e-calendar .e-header .e-title {
  margin-left: 5px;
}

.e-control.e-calendar .e-header .e-prev:hover, .e-control.e-calendar .e-header .e-next:hover {
  cursor: pointer;
}

.e-control.e-calendar .e-header .e-prev.e-overlay, .e-control.e-calendar .e-header .e-next.e-overlay {
  background: none;
}

.e-control.e-calendar .e-header.e-decade .e-title, .e-control.e-calendar .e-header.e-year .e-title {
  margin-left: 5px;
}

.e-control.e-calendar .e-header.e-decade .e-title {
  cursor: default;
}

.e-control.e-calendar .e-header .e-icon-container {
  display: inline-block;
  float: right;
}

.e-control.e-calendar .e-footer-container {
  text-transform: uppercase;
}

.e-control.e-calendar {
  max-width: 246px;
  min-width: 240px;
  padding: 0;
}

.e-control.e-calendar.e-week-number {
  min-width: 262px;
}

.e-control.e-calendar.e-week {
  max-width: 246px;
  min-width: 240px;
}

.e-control.e-calendar .e-header .e-title {
  line-height: 40px;
}

.e-control.e-calendar.e-rtl .e-header .e-title {
  text-align: right;
  text-indent: 4px;
}

.e-control.e-calendar .e-header {
  height: 40px;
}

.e-control.e-calendar .e-header.e-month {
  padding: 10px 10px 0 10px;
}

.e-control.e-calendar .e-header.e-year, .e-control.e-calendar .e-header.e-decade {
  padding: 10px 10px 0 10px;
}

.e-control.e-calendar th {
  font-weight: normal;
  height: 30px;
}

.e-control.e-calendar .e-content .e-selected, .e-control.e-calendar .e-content .e-state-hover {
  border-radius: 0;
}

.e-control.e-calendar .e-content span.e-day {
  border: #616161;
  font-size: 13px;
  font-weight: normal;
  height: 30px;
  line-height: 30px;
  width: 30px;
}

.e-control.e-calendar .e-content.e-year table, .e-control.e-calendar .e-content.e-decade table {
  border-spacing: 0;
  padding: 10px;
}

.e-control.e-calendar .e-content.e-month td {
  height: 30px;
  padding: 2px;
}

.e-control.e-calendar .e-content .tfooter > tr > td {
  height: 36px;
  line-height: 36px;
}

.e-control.e-calendar .e-content.e-year td, .e-control.e-calendar .e-content.e-decade td {
  height: 45px;
  padding: 6px;
}

.e-control.e-calendar .e-content.e-year td > span.e-day, .e-control.e-calendar .e-content.e-decade td > span.e-day {
  font-weight: normal;
  height: 45px;
  line-height: 45px;
  width: 45px;
}

.e-control.e-calendar .e-header .e-icon-container .e-prev, .e-control.e-calendar .e-header .e-icon-container .e-next {
  height: 36px;
  width: 36px;
}

.e-control.e-calendar .e-footer-container {
  cursor: default;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: end;
      justify-content: flex-end;
  padding: 0 10px 10px 10px;
  text-align: center;
  width: 100%;
}

.e-bigger.e-control.e-calendar,
.e-control.e-bigger .e-control.e-calendar {
  max-width: 296px;
  min-width: 296px;
  padding: 0;
}

.e-bigger.e-control.e-calendar.e-week,
.e-control.e-bigger .e-control.e-calendar.e-week {
  max-width: 296px;
  min-width: 296px;
}

.e-bigger.e-control.e-calendar.e-week-number,
.e-control.e-bigger .e-control.e-calendar.e-week-number {
  min-width: 320px;
}

.e-bigger.e-control.e-calendar .e-header .e-title,
.e-control.e-bigger .e-control.e-calendar .e-header .e-title {
  font-size: 16px;
  line-height: 48px;
  width: 60%;
}

.e-bigger.e-control.e-calendar.e-rtl .e-header .e-title,
.e-control.e-bigger .e-control.e-calendar.e-rtl .e-header .e-title {
  line-height: 48px;
  text-indent: 6px;
}

.e-bigger.e-control.e-calendar .e-header,
.e-control.e-bigger .e-control.e-calendar .e-header {
  height: 48px;
  padding: 10px 10px 0 16px;
}

.e-bigger.e-control.e-calendar .e-header span,
.e-control.e-bigger .e-control.e-calendar .e-header span {
  font-size: 16px;
  padding: 15px;
}

.e-bigger.e-control.e-calendar .e-header.e-year, .e-bigger.e-control.e-calendar .e-header.e-decade,
.e-control.e-bigger .e-control.e-calendar .e-header.e-year,
.e-control.e-bigger .e-control.e-calendar .e-header.e-decade {
  padding: 10px 10px 0 16px;
}

.e-bigger.e-control.e-calendar th,
.e-control.e-bigger .e-control.e-calendar th {
  font-size: 14px;
  height: 36px;
}

.e-bigger.e-control.e-calendar .e-content.e-year span.e-day,
.e-control.e-bigger .e-control.e-calendar .e-content.e-year span.e-day {
  font-size: 13px;
  font-weight: normal;
}

.e-bigger.e-control.e-calendar .e-content.e-month table,
.e-control.e-bigger .e-control.e-calendar .e-content.e-month table {
  padding: 0 10px 10px;
}

.e-bigger.e-control.e-calendar .e-content.e-year table, .e-bigger.e-control.e-calendar .e-content.e-decade table,
.e-control.e-bigger .e-control.e-calendar .e-content.e-year table,
.e-control.e-bigger .e-control.e-calendar .e-content.e-decade table {
  padding: 0 10px 10px;
}

.e-bigger.e-control.e-calendar .e-content .e-selected, .e-bigger.e-control.e-calendar .e-content .e-state-hover,
.e-control.e-bigger .e-control.e-calendar .e-content .e-selected,
.e-control.e-bigger .e-control.e-calendar .e-content .e-state-hover {
  border-radius: 0;
}

.e-bigger.e-control.e-calendar .e-content span.e-day,
.e-control.e-bigger .e-control.e-calendar .e-content span.e-day {
  font-size: 13px;
  height: 36px;
  line-height: 36px;
  width: 36px;
}

.e-bigger.e-control.e-calendar .e-content.e-month td,
.e-control.e-bigger .e-control.e-calendar .e-content.e-month td {
  height: 2px;
  padding: 2px;
}

.e-bigger.e-control.e-calendar .e-content.e-year td, .e-bigger.e-control.e-calendar .e-content.e-decade td,
.e-control.e-bigger .e-control.e-calendar .e-content.e-year td,
.e-control.e-bigger .e-control.e-calendar .e-content.e-decade td {
  height: 60px;
  padding: 2px;
}

.e-bigger.e-control.e-calendar .e-content.e-year td > span.e-day, .e-bigger.e-control.e-calendar .e-content.e-decade td > span.e-day,
.e-control.e-bigger .e-control.e-calendar .e-content.e-year td > span.e-day,
.e-control.e-bigger .e-control.e-calendar .e-content.e-decade td > span.e-day {
  height: 60px;
  line-height: 60px;
  width: 60px;
}

.e-bigger.e-control.e-calendar .e-header .e-icon-container .e-prev, .e-bigger.e-control.e-calendar .e-header .e-icon-container .e-next,
.e-control.e-bigger .e-control.e-calendar .e-header .e-icon-container .e-prev,
.e-control.e-bigger .e-control.e-calendar .e-header .e-icon-container .e-next {
  height: 48px;
  width: 48px;
}

.e-control.e-calendar .e-btn.e-today.e-flat.e-disabled, .e-control.e-calendar .e-btn.e-today.e-flat.e-disabled:hover, .e-control.e-calendar .e-btn.e-today.e-flat.e-disabled:active, .e-control.e-calendar .e-btn.e-today.e-flat.e-disabled:focus, .e-control.e-calendar .e-btn.e-today.e-flat.e-disabled:hover:active {
  background: transparent;
  border-color: transparent;
  box-shadow: none;
  color: rgba(255, 255, 255, 0.3);
  cursor: default;
  opacity: 0.35;
  outline: none;
  pointer-events: none;
  -ms-touch-action: none;
      touch-action: none;
}

.e-control.e-calendar {
  background-color: #303030;
  border: 1px solid #616161;
  box-shadow: #e0e0e0;
}

.e-control.e-calendar .e-date-icon-prev, .e-control.e-calendar .e-date-icon-next {
  color: rgba(255, 255, 255, 0.7);
}

.e-control.e-calendar th {
  border-bottom: 0;
  color: rgba(255, 255, 255, 0.7);
}

.e-control.e-calendar .e-header {
  border-bottom: 0;
}

.e-control.e-calendar .e-header a span {
  border: #616161;
  color: rgba(255, 255, 255, 0.75);
}

.e-control.e-calendar .e-header .e-title {
  color: #fff;
}

.e-control.e-calendar .e-header .e-title:hover {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.e-control.e-calendar .e-header .e-prev:hover > span, .e-control.e-calendar .e-header .e-next:hover > span {
  border: none;
  color: #fff;
  cursor: pointer;
}

.e-control.e-calendar .e-header .e-prev:hover, .e-control.e-calendar .e-header .e-next:hover {
  background: none;
}

.e-control.e-calendar .e-header .e-prev:active, .e-control.e-calendar .e-header .e-next:active {
  background: rgba(255, 255, 255, 0.18);
  color: #000;
}

.e-control.e-calendar .e-header button.e-prev:active span, .e-control.e-calendar .e-header button.e-next:active span {
  border: none;
  color: rgba(255, 255, 255, 0.75);
}

.e-control.e-calendar .e-header.e-decade .e-title {
  color: #fff;
  cursor: default;
}

.e-control.e-calendar .e-header .e-next.e-disabled span, .e-control.e-calendar .e-header .e-prev.e-disabled span {
  color: #fff;
  font-weight: normal;
}

.e-control.e-calendar .e-header .e-next.e-disabled, .e-control.e-calendar .e-header .e-prev.e-disabled {
  opacity: 0.35;
}

.e-control.e-calendar .e-content.e-decade tr:first-child .e-cell:first-child span.e-day, .e-control.e-calendar .e-content.e-decade tr:last-child .e-cell:last-child span.e-day {
  color: #fff;
}

.e-control.e-calendar .e-content.e-decade tr:first-child .e-cell:first-child.e-selected span.e-day, .e-control.e-calendar .e-content.e-decade tr:last-child .e-cell:last-child.e-selected span.e-day {
  color: #000;
}

.e-control.e-calendar .e-content.e-decade tr:first-child .e-cell.e-disabled:first-child span.e-day, .e-control.e-calendar .e-content.e-decade tr:last-child .e-cell.e-disabled:last-child span.e-day {
  color: #fff;
}

.e-control.e-calendar .e-content.e-year td:hover span.e-day, .e-control.e-calendar .e-content.e-decade td:hover span.e-day {
  background-color: rgba(255, 255, 255, 0.1);
}

.e-control.e-calendar .e-content.e-year td.e-selected:hover span.e-day, .e-control.e-calendar .e-content.e-decade td.e-selected:hover span.e-day {
  background-color: #00b0ff;
}

.e-control.e-calendar .e-content.e-year td > span.e-day, .e-control.e-calendar .e-content.e-decade td > span.e-day {
  background: transparent;
}

.e-control.e-calendar .e-content .e-week-number span {
  color: rgba(255, 255, 255, 0.42);
}

.e-control.e-calendar .e-content td.e-focused-date span.e-day, .e-control.e-calendar .e-content td.e-focused-date:hover span.e-day, .e-control.e-calendar .e-content td.e-focused-date:focus span.e-day {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 50%;
}

.e-control.e-calendar .e-content td.e-focused-date:hover span.e-day {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 50%;
  color: #fff;
}

.e-control.e-calendar .e-content td.e-today span.e-day, .e-control.e-calendar .e-content td.e-focused-date.e-today span.e-day {
  background: none;
  border: 1px solid #00b0ff;
  border-radius: 50%;
  color: #00b0ff;
}

.e-control.e-calendar .e-content td.e-focused-date.e-today span.e-day {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #00b0ff;
  color: #00b0ff;
}

.e-control.e-calendar .e-content td.e-today:focus span.e-day, .e-control.e-calendar .e-content td.e-focused-date.e-today:focus span.e-day {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 50%;
  color: #00b0ff;
}

.e-control.e-calendar .e-content td.e-today:hover span.e-day, .e-control.e-calendar .e-content td.e-focused-date.e-today:hover span.e-day, .e-control.e-calendar .e-content td.e-focused-date.e-today:focus span.e-day {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #00b0ff;
  color: #00b0ff;
}

.e-control.e-calendar .e-content td.e-today.e-selected span.e-day {
  background-color: #00b0ff;
  border: 1px solid #00b0ff;
  box-shadow: inset 0 0 0 2px rgba(66, 66, 66, 0.7);
  color: #000;
}

.e-control.e-calendar .e-content td.e-today.e-selected:hover span.e-day, .e-control.e-calendar .e-content td.e-selected:hover span.e-day, .e-control.e-calendar .e-content td.e-selected.e-focused-date span.e-day {
  background-color: #00b0ff;
  color: #000;
}

.e-control.e-calendar .e-content span {
  color: #fff;
}

.e-control.e-calendar .e-content .e-disabled span.e-day:hover {
  background: none;
  border: 0;
  color: #fff;
}

.e-control.e-calendar .e-content .e-other-month:hover span.e-day {
  color: rgba(255, 255, 255, 0.3);
}

.e-control.e-calendar .e-content .e-other-month span.e-day, .e-control.e-calendar .e-content .e-other-month.e-today span.e-day {
  color: rgba(255, 255, 255, 0.3);
}

.e-control.e-calendar .e-content .e-other-month.e-today:hover span.e-day {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.e-control.e-calendar .e-content thead {
  background: none;
  border-bottom: 0;
}

.e-control.e-calendar .e-content td:hover span.e-day, .e-control.e-calendar .e-content td:focus span.e-day {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 50%;
  color: #fff;
}

.e-control.e-calendar .e-content td:focus span.e-day {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 50%;
  color: #fff;
}

.e-control.e-calendar .e-content td.e-disabled span.e-day, .e-control.e-calendar .e-content td.e-disabled:hover span.e-day, .e-control.e-calendar .e-content td.e-disabled:focus span.e-day {
  background: none;
  border: none;
  color: #fff;
}

.e-control.e-calendar .e-content td.e-selected span.e-day {
  background-color: #00b0ff;
  border: none;
  border-radius: 50%;
  color: #000;
}

.e-control.e-calendar .e-content .e-footer {
  color: #00b0ff;
}

.e-control.e-calendar.e-device .e-prev:hover, .e-control.e-calendar.e-device .e-next:hover, .e-control.e-calendar.e-device .e-prev:active, .e-control.e-calendar.e-device .e-next:active, .e-control.e-calendar.e-device .e-prev:focus, .e-control.e-calendar.e-device .e-next:focus {
  background: none;
}

.e-control.e-calendar.e-device button.e-prev:active span, .e-control.e-calendar.e-device button.e-next:active span {
  color: rgba(255, 255, 255, 0.7);
}

.e-zoomin {
  animation: animatezoom .3s;
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.e-control .e-js [class^='e-'], .e-control .e-js [class*=' e-'] {
  box-sizing: content-box;
}
