.e-splitter .e-split-bar.e-split-bar-horizontal .e-resize-handler::before {
  content: '\e984';
  font-family: 'e-icons';
  font-size: 14px;
}

.e-splitter .e-split-bar.e-split-bar-vertical .e-resize-handler::before {
  content: '\e984';
  font-family: 'e-icons';
  font-size: 14px;
  transform: rotate(90deg);
}

.e-bigger .e-splitter .e-split-bar .e-resize-handler::before {
  font-size: 16px;
}

.e-bigger.e-splitter .e-split-bar .e-resize-handler::before {
  font-size: 16px;
}

.e-control.e-splitter.e-splitter-horizontal, .e-control.e-splitter.e-splitter-vertical {
  border-width: 1px;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: relative;
  -ms-touch-action: none;
      touch-action: none;
  width: 100%;
}

.e-control.e-splitter.e-splitter-horizontal .e-pane, .e-control.e-splitter.e-splitter-vertical .e-pane {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  font-family: "Segoe UI", "GeezaPro", "DejaVu Serif", sans-serif, "-apple-system", "BlinkMacSystemFont";
  font-size: 13px;
  font-weight: normal;
}

.e-control.e-splitter.e-splitter-horizontal .e-pane.e-scrollable, .e-control.e-splitter.e-splitter-vertical .e-pane.e-scrollable {
  overflow: auto;
}

.e-control.e-splitter.e-splitter-horizontal .e-pane.e-static-pane, .e-control.e-splitter.e-splitter-vertical .e-pane.e-static-pane {
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.e-control.e-splitter.e-splitter-horizontal .e-pane.e-pane-horizontal, .e-control.e-splitter.e-splitter-vertical .e-pane.e-pane-horizontal {
  overflow: auto;
}

.e-control.e-splitter.e-splitter-horizontal .e-pane.e-pane-horizontal.e-pane-hidden, .e-control.e-splitter.e-splitter-vertical .e-pane.e-pane-horizontal.e-pane-hidden {
  -ms-flex-preferred-size: 0 !important;
      flex-basis: 0 !important;
  overflow: hidden !important;
}

.e-control.e-splitter.e-splitter-horizontal {
  -ms-flex-direction: row;
      flex-direction: row;
}

.e-control.e-splitter.e-splitter-horizontal.e-pane.e-scrollable {
  overflow: hidden;
}

.e-control.e-splitter.e-splitter-horizontal.e-rtl {
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
}

.e-control.e-splitter.e-splitter-horizontal.e-rtl .e-split-bar.e-split-bar-horizontal {
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
}

.e-control.e-splitter.e-splitter-horizontal.e-rtl .e-split-bar.e-split-bar-horizontal .e-navigate-arrow:not(.e-arrow-right)::before, .e-control.e-splitter.e-splitter-horizontal.e-rtl .e-split-bar.e-split-bar-horizontal .e-navigate-arrow:not(.e-arrow-right)::after {
  left: auto;
  right: auto;
}

.e-control.e-splitter.e-splitter-vertical {
  -ms-flex-direction: column;
      flex-direction: column;
}

.e-control.e-splitter.e-splitter-vertical.e-pane.e-scrollable {
  overflow: hidden;
}

.e-control.e-splitter.e-splitter-vertical .e-pane-vertical {
  overflow: auto;
}

.e-control.e-splitter.e-splitter-vertical .e-pane-vertical.e-pane-hidden {
  -ms-flex-preferred-size: 0 !important;
      flex-basis: 0 !important;
  overflow: hidden !important;
}

.e-control.e-splitter.e-splitter-vertical.e-rtl .e-split-bar.e-split-bar-vertical .e-navigate-arrow:not(.e-arrow-down)::before, .e-control.e-splitter.e-splitter-vertical.e-rtl .e-split-bar.e-split-bar-vertical .e-navigate-arrow:not(.e-arrow-down)::after {
  left: auto;
  right: auto;
}

.e-control.e-splitter.e-splitter-vertical.e-rtl .e-split-bar.e-split-bar-vertical .e-navigate-arrow.e-arrow-down::before, .e-control.e-splitter.e-splitter-vertical.e-rtl .e-split-bar.e-split-bar-vertical .e-navigate-arrow.e-arrow-down::after {
  right: auto;
}

.e-control.e-splitter.e-splitter-vertical.e-rtl .e-split-bar.e-split-bar-vertical .e-navigate-arrow:not(.e-arrow-down) {
  border-radius: 50%;
  bottom: 16px;
  left: -19px;
}

.e-control.e-splitter.e-splitter-vertical.e-rtl .e-split-bar.e-split-bar-vertical .e-navigate-arrow.e-arrow-down {
  border-radius: 50%;
  left: 19px;
  top: 18px;
}

.e-control.e-splitter .e-split-bar.e-split-bar-active .e-navigate-arrow {
  visibility: hidden;
}

.e-control.e-splitter .e-split-bar.e-split-bar-hover.e-split-bar-active .e-navigate-arrow {
  visibility: hidden;
}

.e-control.e-splitter .e-split-bar.e-split-bar-horizontal {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  -ms-flex-pack: center;
      justify-content: center;
  min-width: 1px;
  z-index: 15;
}

.e-control.e-splitter .e-split-bar.e-split-bar-horizontal .e-icon-hidden {
  visibility: hidden;
}

.e-control.e-splitter .e-split-bar.e-split-bar-horizontal.e-resizable-split-bar {
  cursor: col-resize;
}

.e-control.e-splitter .e-split-bar.e-split-bar-horizontal.e-resizable-split-bar::after {
  content: '';
  cursor: col-resize;
  display: block;
  height: 100%;
  position: absolute;
  width: 16px;
  z-index: 10;
}

.e-control.e-splitter .e-split-bar.e-split-bar-horizontal .e-resize-handler {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  height: 18px;
  -ms-flex-pack: center;
      justify-content: center;
  min-width: 1px;
  position: relative;
  width: 1px;
}

.e-control.e-splitter .e-split-bar.e-split-bar-horizontal .e-resize-handler.e-hide-handler {
  visibility: hidden;
}

.e-control.e-splitter .e-split-bar.e-split-bar-horizontal .e-navigate-arrow:not(.e-arrow-right)::before, .e-control.e-splitter .e-split-bar.e-split-bar-horizontal .e-navigate-arrow:not(.e-arrow-right)::after {
  left: 8px;
  right: 3px;
}

.e-control.e-splitter .e-split-bar.e-split-bar-horizontal .e-navigate-arrow {
  border-image: none;
  border-width: 1px;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  height: 24px;
  padding: 1px 12px;
  position: relative;
  width: 42px;
}

.e-control.e-splitter .e-split-bar.e-split-bar-horizontal .e-navigate-arrow::before, .e-control.e-splitter .e-split-bar.e-split-bar-horizontal .e-navigate-arrow::after {
  border-radius: 16px;
  content: '';
  height: 8px;
  position: absolute;
  transform: rotate(0deg);
  width: 2px;
}

.e-control.e-splitter .e-split-bar.e-split-bar-horizontal .e-navigate-arrow::before {
  top: 5px;
  transform-origin: 1px 7px 0;
}

.e-control.e-splitter .e-split-bar.e-split-bar-horizontal .e-navigate-arrow::after {
  top: 11px;
  transform-origin: 1px 1px 0;
}

.e-control.e-splitter .e-split-bar.e-split-bar-horizontal .e-navigate-arrow:not(.e-arrow-right) {
  border-radius: 50%;
  right: 3px;
}

.e-control.e-splitter .e-split-bar.e-split-bar-horizontal .e-navigate-arrow.e-arrow-right {
  border-radius: 50%;
  left: 3px;
}

.e-control.e-splitter .e-split-bar.e-split-bar-horizontal .e-navigate-arrow.e-arrow-right::before, .e-control.e-splitter .e-split-bar.e-split-bar-horizontal .e-navigate-arrow.e-arrow-right::after {
  right: 8px;
}

.e-control.e-splitter .e-split-bar.e-split-bar-horizontal.e-last-bar:not(.e-resizable-split-bar) {
  margin: 0 3px;
}

.e-control.e-splitter .e-split-bar.e-split-bar-horizontal:not(.e-resizable-split-bar) {
  margin: 0 0 0 3px;
}

.e-control.e-splitter .e-split-bar.e-split-bar-vertical {
  -ms-flex-align: center;
      align-items: center;
  border: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  -ms-flex-pack: center;
      justify-content: center;
  min-height: 1px;
}

.e-control.e-splitter .e-split-bar.e-split-bar-vertical .e-icon-hidden {
  visibility: hidden;
}

.e-control.e-splitter .e-split-bar.e-split-bar-vertical.e-resizable-split-bar {
  cursor: row-resize;
}

.e-control.e-splitter .e-split-bar.e-split-bar-vertical.e-resizable-split-bar::after {
  content: '';
  cursor: row-resize;
  display: block;
  height: 16px;
  position: absolute;
  width: 100%;
  z-index: 12;
}

.e-control.e-splitter .e-split-bar.e-split-bar-vertical .e-resize-handler {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  height: 1px;
  -ms-flex-pack: center;
      justify-content: center;
  min-height: 1px;
  width: 18px;
}

.e-control.e-splitter .e-split-bar.e-split-bar-vertical .e-resize-handler.e-hide-handler {
  visibility: hidden;
}

.e-control.e-splitter .e-split-bar.e-split-bar-vertical .e-navigate-arrow:not(.e-arrow-down)::before, .e-control.e-splitter .e-split-bar.e-split-bar-vertical .e-navigate-arrow:not(.e-arrow-down)::after {
  left: 10px;
}

.e-control.e-splitter .e-split-bar.e-split-bar-vertical .e-navigate-arrow {
  border-image: none;
  border-width: 0;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  height: 24px;
  padding: 10px 3px 10px 18px;
  position: relative;
  width: 24px;
}

.e-control.e-splitter .e-split-bar.e-split-bar-vertical .e-navigate-arrow::before, .e-control.e-splitter .e-split-bar.e-split-bar-vertical .e-navigate-arrow::after {
  border-radius: 16px;
  content: '';
  height: 8px;
  position: absolute;
  transform: rotate(90deg);
  width: 2px;
}

.e-control.e-splitter .e-split-bar.e-split-bar-vertical .e-navigate-arrow:not(.e-arrow-down)::before {
  top: 2px;
  transform-origin: 1px 7px 0;
}

.e-control.e-splitter .e-split-bar.e-split-bar-vertical .e-navigate-arrow:not(.e-arrow-down)::after {
  top: 8px;
  transform-origin: 1px 1px 0;
}

.e-control.e-splitter .e-split-bar.e-split-bar-vertical .e-navigate-arrow.e-arrow-down::before {
  top: 7px;
  transform-origin: 1px 7px 0;
}

.e-control.e-splitter .e-split-bar.e-split-bar-vertical .e-navigate-arrow.e-arrow-down::after {
  top: 13px;
  transform-origin: 1px 1px 0;
}

.e-control.e-splitter .e-split-bar.e-split-bar-vertical .e-navigate-arrow:not(.e-arrow-down) {
  border-radius: 50%;
  bottom: 16px;
  left: 21px;
}

.e-control.e-splitter .e-split-bar.e-split-bar-vertical .e-navigate-arrow.e-arrow-down {
  border-radius: 50%;
  right: 21px;
  top: 16px;
}

.e-control.e-splitter .e-split-bar.e-split-bar-vertical .e-navigate-arrow.e-arrow-down::before, .e-control.e-splitter .e-split-bar.e-split-bar-vertical .e-navigate-arrow.e-arrow-down::after {
  right: 10px;
}

.e-control.e-splitter .e-split-bar.e-split-bar-vertical.e-last-bar:not(.e-resizable-split-bar) {
  margin: 3px 0;
}

.e-control.e-splitter .e-split-bar.e-split-bar-vertical:not(.e-resizable-split-bar) {
  margin: 3px 0 0;
}

.e-bigger.e-control.e-splitter .e-pane {
  font-size: 13px;
}

.e-bigger.e-control.e-splitter .e-split-bar.e-split-bar-horizontal .e-resize-handler {
  height: 20px;
}

.e-bigger.e-control.e-splitter .e-split-bar.e-split-bar-vertical .e-resize-handler {
  width: 20px;
}

.e-bigger.e-control.e-splitter .e-split-bar.e-split-bar-vertical .e-navigate-arrow:not(.e-arrow-down)::before, .e-bigger.e-control.e-splitter .e-split-bar.e-split-bar-vertical .e-navigate-arrow:not(.e-arrow-down)::after {
  margin-top: -2px;
}

.e-bigger.e-control.e-splitter .e-split-bar.e-split-bar-vertical .e-navigate-arrow.e-arrow-down::after {
  margin-top: 2px;
}

.e-bigger .e-control.e-splitter .e-pane {
  font-size: 13px;
}

.e-bigger .e-control.e-splitter .e-split-bar.e-split-bar-horizontal .e-resize-handler {
  height: 20px;
}

.e-bigger .e-control.e-splitter .e-split-bar.e-split-bar-vertical .e-resize-handler {
  width: 20px;
}

.e-control.e-splitter.e-splitter-horizontal, .e-control.e-splitter.e-splitter-vertical {
  border: solid 1px #000;
}

.e-control.e-splitter.e-splitter-horizontal .e-pane, .e-control.e-splitter.e-splitter-vertical .e-pane {
  color: #000;
}

.e-control.e-splitter.e-splitter-horizontal .e-pane.e-splitter.e-splitter-horizontal, .e-control.e-splitter.e-splitter-horizontal .e-pane.e-splitter.e-splitter-vertical, .e-control.e-splitter.e-splitter-vertical .e-pane.e-splitter.e-splitter-horizontal, .e-control.e-splitter.e-splitter-vertical .e-pane.e-splitter.e-splitter-vertical {
  border: transparent;
}

.e-control.e-splitter .e-split-bar.e-split-bar-horizontal {
  background: #000;
  border: none;
}

.e-control.e-splitter .e-split-bar.e-split-bar-horizontal .e-resize-handler {
  background: #fff;
  color: #000;
}

.e-control.e-splitter .e-split-bar.e-split-bar-horizontal .e-navigate-arrow {
  background-color: transparent;
  border-color: transparent;
  color: transparent;
  transition: background-color 500ms ease-out;
}

.e-control.e-splitter .e-split-bar.e-split-bar-horizontal .e-navigate-arrow::before, .e-control.e-splitter .e-split-bar.e-split-bar-horizontal .e-navigate-arrow::after {
  background-color: #ffd939;
  opacity: 0;
  transition: transform 350ms ease-in-out 0s, opacity 300ms ease-in-out 100ms, background 200ms ease-in-out 200ms;
}

.e-control.e-splitter .e-split-bar.e-split-bar-horizontal.e-split-bar-hover {
  background: #400074;
}

.e-control.e-splitter .e-split-bar.e-split-bar-horizontal.e-split-bar-hover .e-resize-handler {
  background: #fff;
  color: #400074;
}

.e-control.e-splitter .e-split-bar.e-split-bar-horizontal.e-split-bar-hover .e-navigate-arrow.e-arrow-left, .e-control.e-splitter .e-split-bar.e-split-bar-horizontal.e-split-bar-hover .e-navigate-arrow.e-arrow-right {
  background-color: #d4d1c3;
  border-color: rgba(255, 217, 57, 0.5);
  border-width: 1px;
  opacity: .9;
}

.e-control.e-splitter .e-split-bar.e-split-bar-horizontal.e-split-bar-hover.e-split-bar-hover .e-navigate-arrow::before, .e-control.e-splitter .e-split-bar.e-split-bar-horizontal.e-split-bar-hover.e-split-bar-active .e-navigate-arrow::before {
  background-color: #ffd939;
  opacity: 1;
  transform: rotate(40deg);
}

.e-control.e-splitter .e-split-bar.e-split-bar-horizontal.e-split-bar-hover.e-split-bar-hover .e-navigate-arrow::after, .e-control.e-splitter .e-split-bar.e-split-bar-horizontal.e-split-bar-hover.e-split-bar-active .e-navigate-arrow::after {
  background-color: #ffd939;
  opacity: 1;
  transform: rotate(-40deg);
}

.e-control.e-splitter .e-split-bar.e-split-bar-horizontal.e-split-bar-hover .e-navigate-arrow.e-arrow-right::before, .e-control.e-splitter .e-split-bar.e-split-bar-horizontal.e-split-bar-active .e-navigate-arrow.e-arrow-right::before {
  background-color: #ffd939;
  opacity: 1;
  transform: rotate(-40deg);
}

.e-control.e-splitter .e-split-bar.e-split-bar-horizontal.e-split-bar-hover .e-navigate-arrow.e-arrow-right::after, .e-control.e-splitter .e-split-bar.e-split-bar-horizontal.e-split-bar-active .e-navigate-arrow.e-arrow-right::after {
  background-color: #ffd939;
  opacity: 1;
  transform: rotate(40deg);
}

.e-control.e-splitter .e-split-bar.e-split-bar-horizontal.e-split-bar-active {
  background: #400074;
}

.e-control.e-splitter .e-split-bar.e-split-bar-horizontal.e-split-bar-active .e-resize-handler {
  background: #fff;
  color: #400074;
}

.e-control.e-splitter .e-split-bar.e-split-bar-vertical {
  background: #000;
}

.e-control.e-splitter .e-split-bar.e-split-bar-vertical .e-resize-handler {
  background: #fff;
  color: #000;
}

.e-control.e-splitter .e-split-bar.e-split-bar-vertical.e-split-bar-hover {
  background: #400074;
}

.e-control.e-splitter .e-split-bar.e-split-bar-vertical.e-split-bar-hover .e-navigate-arrow.e-arrow-up, .e-control.e-splitter .e-split-bar.e-split-bar-vertical.e-split-bar-hover .e-navigate-arrow.e-arrow-down {
  background-color: #d4d1c3;
  border-color: rgba(255, 217, 57, 0.5);
  border-width: 1px;
  opacity: .9;
}

.e-control.e-splitter .e-split-bar.e-split-bar-vertical.e-split-bar-hover .e-resize-handler {
  background: #fff;
  color: #400074;
}

.e-control.e-splitter .e-split-bar.e-split-bar-vertical.e-split-bar-hover .e-navigate-arrow.e-arrow-up::before, .e-control.e-splitter .e-split-bar.e-split-bar-vertical.e-split-bar-active .e-navigate-arrow.e-arrow-up::before {
  background-color: #ffd939;
  opacity: 1;
  transform: rotate(125deg);
}

.e-control.e-splitter .e-split-bar.e-split-bar-vertical.e-split-bar-hover .e-navigate-arrow.e-arrow-up::after, .e-control.e-splitter .e-split-bar.e-split-bar-vertical.e-split-bar-active .e-navigate-arrow.e-arrow-up::after {
  background-color: #ffd939;
  opacity: 1;
  transform: rotate(50deg);
}

.e-control.e-splitter .e-split-bar.e-split-bar-vertical.e-split-bar-hover .e-navigate-arrow.e-arrow-down::before, .e-control.e-splitter .e-split-bar.e-split-bar-vertical.e-split-bar-active .e-navigate-arrow.e-arrow-down::before {
  background-color: #ffd939;
  opacity: 1;
  transform: rotate(55deg);
}

.e-control.e-splitter .e-split-bar.e-split-bar-vertical.e-split-bar-hover .e-navigate-arrow.e-arrow-down::after, .e-control.e-splitter .e-split-bar.e-split-bar-vertical.e-split-bar-active .e-navigate-arrow.e-arrow-down::after {
  background-color: #ffd939;
  opacity: 1;
  transform: rotate(125deg);
}

.e-control.e-splitter .e-split-bar.e-split-bar-vertical .e-navigate-arrow {
  background-color: transparent;
  border-color: transparent;
  color: transparent;
  transition: background-color 500ms ease-out;
}

.e-control.e-splitter .e-split-bar.e-split-bar-vertical .e-navigate-arrow::before, .e-control.e-splitter .e-split-bar.e-split-bar-vertical .e-navigate-arrow::after {
  background-color: #ffd939;
  opacity: 0;
  transition: transform 350ms ease-in-out 0s, opacity 300ms ease-in-out 100ms, background 200ms ease-in-out 200ms;
}

.e-control.e-splitter .e-split-bar.e-split-bar-vertical.e-split-bar-active {
  background: #400074;
}

.e-control.e-splitter .e-split-bar.e-split-bar-vertical.e-split-bar-active .e-resize-handler {
  background: #fff;
  color: #400074;
}

.e-control.e-splitter.e-disabled {
  opacity: 00.4;
  pointer-events: none;
}

.e-control .e-js [class^='e-'], .e-control .e-js [class*=' e-'] {
  box-sizing: content-box;
}
