/**  =====================
      Mail-pages css start
==========================  **/
.email-card {
    padding: 0 15px;
    .user-head {
        background-color: $primary-color;
        padding: 10px;
        min-height: 80px;
        display: flex;
        align-items: center;
        .user-name {
            margin-left: 10px;
            margin-bottom: 10px;
            span {
                display: block;
                color: $white-txt;
            }
        }
    }
    .user-body {
        margin-left: -15px;
        margin-right: -15px;
        background-color: #fff;
        border-right: 1px solid #ddd;
        .page-list {
            li {
                text-transform: capitalize;
                border-bottom: 1px solid #ddd;
                transition: all ease-in .3s;
                cursor: pointer;
                .mail-section {
                    padding: 15px 20px;
                    display: block;
                    color: #6a6a6a;
                    a{
                        color: #6a6a6a;
                    }
                }
                i {
                    margin-right: 10px;
                }
                &.active,
                &:hover {
                    background-color: #e5e5e5;
                }
            }
        }
        .label-list {
            a {
                padding: 10px 20px;
                display: block;
                color: #6a6a6a;
                position: relative;
                padding-left: 25px;
                &:before {
                    content: '';
                    position: absolute;
                    height: 10px;
                    width: 10px;
                    border-radius: 50px;
                    left: 0;
                    top: 16px;
                }
                &.mail-work {
                    &:before {
                        background-color: $primary-color;
                    }
                }
                &.mail-design {
                    &:before {
                        background-color: $info-color;
                    }
                }
                &.mail-family {
                    &:before {
                        background-color: $success-color;
                    }
                }
                &.mail-friends {
                    &:before {
                        background-color: $warning-color;
                    }
                }
                &.mail-office {
                    &:before {
                        background-color: $danger-color;
                    }
                }
            }
        }
    }
    .mail-box-head {
        background-color: $default-color;
        min-height: 80px;
        padding: 20px 0;
        h3 {
            color: #fff;
        }
        .input-group {
            margin-bottom: 0;
        }
    }
    .mail-body {
        padding: 20px 0;
        .mail-body-header {
            margin-bottom: 20px;
            .btn-group {
                height: 42px;
            }
        }
    }
    .mail-body-content {
        .check-star {
            display: flex;
            align-items: center;
            .icofont-star {
                margin-top: -8px;
            }
        }
        tr {
            transition: all ease-in .3s;
        }
        tr:hover {
            background-color: #e5e5e5;
            cursor: pointer;
        }
        .unread {
            a {
                color: #222;
                font-weight: 600;
            }
        }
        .read {
            a {
                color: #222;
                font-weight: 400;
            }
        }
    }
}

.email-summernote ~ .note-frame {
    border: 1px solid #ddd;
    border-radius: 2px;
}

.email-read {
    .photo-table {
        padding-right: 10px;
    }
    .user-name{
        margin-bottom:10px;
    }
}

.mail-body-content.email-read {
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05), 0 -2px 1px -2px rgba(0, 0, 0, 0.04), 0 0 0 -1px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    .card {
        border-top: none;
        margin-bottom: 0;
    }
    &:hover {
        box-shadow: 0 0 25px -5px #9e9c9e;
        transition: all 150ms linear;
    }
}

.user-name {
    margin-bottom: 20px;
}

.email-card .user-mail h6 {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 20px;
    color: #292b2c;
}

.email-content {
    line-height: 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}

.mail-img {
    margin-top: 20px;
}

.email-welcome-txt {
    font-weight: 600;
}
/**====== Mail-pages css end ======**/
