<div class="col-lg-12 control-section">
    <div class="row">
        <div class="content-wrapper" style="text-align: center;">
            <h2>This module has been disabled by the project maintainer</h2>
            <hr>
            <p>If you're the owner of this public board you can contact an administrator to enable this feature.</p>
        </div>
    </div>
</div>