@{
    ViewData["Title"] = "Files";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    var ProjectId = ViewData["ProjectId"];
    var BranchId = ViewData["BranchId"];
    var Branches = ViewData["Branches"] as List<Branches>; 
}
<style>

.TreeHolder {
    display: block;
    max-width: 100%;
    max-height: 80vh;
    margin: auto;
    overflow: auto;
    border: 1px solid #dddddd;
    background-color: white;
    border-radius: 3px;
}

</style>
  <!-- end of sidebar element -->
        <!-- main-content declaration -->
        <div class="main-content" id="main-text" style="height: 94vh;">
            <div class="sidebar-content">
<div class="container-fluid">
    <div class="row card">
        <div class="control-wrapper">
            <div id="default" style='padding:20px;'>
                <select id="games"> 
                    @{
                        foreach(var branch in Branches)
                        {
                            <option value="@branch.Id">@branch.BranchName</option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="col-md-3">
                <div class="TreeHolder">
                    <div id="tree"></div>
                </div>
            </div>
            <div class="col-md-8">
                <div id="CodeHolder" style="height:80vh;width:100%;border:1px solid grey"></div>
            </div>
        </div>
    </div>
 </div>
    </div>
        </div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script>
var editor;
var SelectedId;
var treeObj;
require.config({ paths: { 'vs': '/Syncfusion/node_modules/monaco-editor/min/vs' }});
	require(['vs/editor/editor.main'], function() {
	    editor = monaco.editor.create(document.getElementById('CodeHolder'), {
			value: [
				 "Console.WriteLine(\"Works\")"
			].join('\n'),
			language: 'csharp'
		});
	});

    
    var BindingData ;
    $( document ).ready(function() 
    {
        SelectedId = @BranchId;
        InitBranches();
        $.ajax({
            type: 'GET',
            url: '/Commit/GetBranchFiles?projectId=@ProjectId&&branchId='+SelectedId,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                LoadCommitHirarchy(response);
            },
            error: function (xhr, status, error) {
    
            }
        });
     
    });
    function InitBranches()
    {
                  // Initialize DropDownList component
        var listObj = new ej.dropdowns.DropDownList({
            // set the index value to select an item based on index at initial rendering
            index: 2,
            // set the placeholder to DropDownList input element
            placeholder: 'Select a branch',
            // set the height of the popup element
            popupHeight: '200px',
            // bind the change event
            change: BranchChanged
        });
        listObj.appendTo('#games');
        // call the change event's function after initialized the component.
        
    }


    function BranchChanged(args)
    {
    }
    function LoadCommitHirarchy(data)
    {
        BindingData = data;
        treeObj = new ej.navigations.TreeView({
            fields: { dataSource: data, id: 'id', text: 'name', child: 'subChild', value: 1, IId: "internalId" },
            nodeClicked: ItemSelected

        });
        treeObj.appendTo('#tree');
            
    }
    
    function ItemSelected(args)
    {
        var data = treeObj.getTreeData(args.node);
        ShowSelectedFile(data);
    }

    function ShowSelectedFile(file)
    {
        $("#CodeHolder").html("");
           $.ajax({
            type: 'GET',
            url: '/Commit/GetSelectedFile?fileName='+file[0].fullPathName+"&projectId=@ProjectId&branch="+SelectedId,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                editor = monaco.editor.create(document.getElementById('CodeHolder'), {
                    value:  response.data,
                    language:  response.languageType
                });
             
            },
            error: function (xhr, status, error) {
                console.log(xhr);
            }
        });
    }
        
    
</script>