@{
      var ProjectId = ViewData["ProjectId"];
    var defaultIteration = ViewData["DefaultIteration"] as int?;
}


<div class="row" style="margin:0;">
    <div>
        <ul id="chat-treeview" style="margin: 0; padding: 0;">
        </ul>
    </div>
</div>

<!-- Template to render tree node -->
<script id="treeTemplate" type="text/x-template">
 <div>
    <div class="treeviewdiv">
        <div class="nodetext">
            <span class="treeName">${nodeText}</span>
        </div>
        
    </div>
</div>
</script>

<script>

    var dto = {
        "ProjectId":@ProjectId,
         
    }
    $.ajax({
        type: 'POST',
        url: '/ApiKeySettings/EnableProjectFeature',
        data: JSON.stringify(dto),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (response) {
            InitializeChatItems(response);
        },
        error: function (xhr, status, error) {
            console.log(error);
        }
    });

    var URL = location.href.replace(location.search, '');
  //  document.getElementById('newTab').setAttribute('href', URL.split('#')[0] + 'sidebar/responsive-panel/index.html');
    data = [

        {
            nodeId: '01', nodeText: 'Dashboard', iconCss: 'icon-th icon',expanded: true,
            nodeChild: [
                { nodeId: '01-01', nodeText: 'Home', iconCss: 'icon-circle-thin icon', link:'/Dashboard/ProjectDashboard?id=@ProjectId' },
                { nodeId: '01-02', nodeText: 'Project Details', iconCss: 'icon-circle-thin icon', link:'/Dashboard/ProjectDetails' },
          
            ]
        }
         
    ];
    console.log(data);
    function InitializeChatItems(incomingData)
    {
         // TreeView  initialization
        var mainTreeView= new ej.navigations.TreeView({
            fields:
            {
                dataSource: incomingData,
                id: 'nodeId',
                text: 'nodeText', 
                child: 'nodeChild'
            },
            nodeSelected: LinkSelected,
            expandOn: 'Click',
            nodeTemplate: '#treeTemplate'

        });

        mainTreeView.appendTo('#chat-treeview');
    }

    function LinkSelected(args)
    {
        console.log(args);
        data.forEach(element =>
        {
            console.log(element);
            element.nodeChild.forEach(child =>
            {
                if(child.nodeId === args.nodeData.id)
                    window.location.href = child.link;
            });
        });

    // console.log(data.find(x => x.nodeChild.nodeId === args.nodeData.id));
    }

</script>