@{
    Layout = "~/Views/Shared/_LayoutDocumentation.cshtml";
    var ProjectId = ViewData["ProjectId"] as int?;
    var Rights = ViewData["UserRights"] as UserRights;
}
<div class="row">
    <div class="col-md-9" id="BreadCrumbHolder">
        @await Component.InvokeAsync("DocumentationBreadcrum", new IncomingIdRequest{
            ProjectId = @ProjectId.Value,
            Id = 0
        })
    </div>
    <div class="col-md-3">
        <input id="InputSeatchDocumentation"  style="margin: 5px;"/>
    </div>
</div>
<div class="row" id="DocumentationPageControl">
    @await Component.InvokeAsync("DocumentationPage", new IncomingIdRequest{
         ProjectId = @ProjectId.Value,
         Id = 0
    })
</div>


<script>
var InputSeatchDocumentation = new ej.inputs.TextBox({
    placeholder: "What's on your mind",
    floatLabelType: 'Auto'
});
InputSeatchDocumentation.appendTo('#InputSeatchDocumentation');
</script>