
.e-icons {
    font-family: "e-icons" !important;
}

.e-control .e-btn .e-lib .e-outline .e-primary .plus{
    content: '\e7f9';
    font-size: 16px;
}

.e-kanban .header-template-wrap {
    display: inline-flex;
    font-size: 15px;
    font-weight: 500;
}

    .e-kanban .header-template-wrap .header-icon {
        margin-top: 3px;
        width: 10%;
    }

    .e-kanban .header-template-wrap .header-text {
        margin-left: 15px;
    }

.e-kanban .e-card {
    height: auto !important;
}

.e-kanban .card-template-wrap {
    line-height: normal;
    font-size: 12px;
    width: 100%;
}

    .e-kanban .card-template-wrap td {
        background: none !important;
        border: none !important;
        height: auto !important;
        line-height: 1.6;
    }

.e-kanban .card-header,
.e-kanban .e-title {
    padding-left: 12px;
}

.e-kanban .e-title,
.e-kanban .e-tag-cell {
    padding-bottom: 12px;
}

.e-kanban .Open::before {
    content: '\e607';
    color: #6495ed;
    font-size: 16px;
}

.e-kanban .InProgress::before {
    content: '\e606';
    color: #0000ff;
    font-size: 16px;
}

.e-kanban .Testing::before {
    content: '\ea8e';
    color: #0000ff;
    font-size: 16px;
}
.e-kanban .Done::before {
    content: '\e7ff';
    color: #0000ff;
    font-size: 16px;
}



.e-kanban .e-image img {
    background: #ececec;
    border: 1px solid #c8c8c8;
    border-radius: 50%;
}

.e-kanban .e-image {
    padding-right: 12px;
}

.e-kanban .Review::before {
    content: '\e345';
    color: #ffa500;
    font-size: 16px;
}

.e-kanban .Close::before {
    content: '\ea84';
    color: #008000;
    font-size: 16px;
}

.e-kanban .e-card .e-tag {
    background: #ececec;
    color: #6b6b6b;
    margin-right: 5px;
    border-radius: 2px;
    display: inline-block;
    padding: 1px 7px 3px 7px;
}

.e-kanban .e-card .e-tags {
    display: table-cell;
}

.card-template.Task {
    border-left: 3px solid #ffd600
}

.card-template.Bug {
    border-left: 3px solid #990000
}

.card-template.Epic {
    border-left: 3px solid #8f3400
}

.card-template.Sprint {
    border-left: 3px solid #22478b
}

.card-template.Issue {
    border-left: 3px solid #ff7b0088
}

.card-template.Test {
    border-left: 3px solid #0df7ff
}

.card-template .e-search.Task:before {
    font-family: "e-icons" !important;
    content: '\e526';
    color: #ffd600;
}

.card-template .e-search.Bug:before {
    font-family: "e-icons" !important;
    content: '\ec1a';
    color: #990000;
}

.card-template .e-search.Epic:before {
    font-family: "e-icons" !important;
    content: '\e35d';
    color: #8f3400
}
.card-template .e-search.Sprint:before {
    font-family: "e-icons" !important;
    content: '\ea93';
    color: #22478b;
}
.card-template .e-search.Issue:before {
    font-family: "e-icons" !important;
    content: '\ec09';
    color: #ff7b0088;
}
.card-template .e-search.Test:before {
    font-family: "e-icons" !important;
    content: '\e344';
    color: #0df7ff;
}

.bootstrap4 .e-kanban .Open::before {
    content: '\e729';
}

.bootstrap4 .e-kanban .InProgress::before {
    content: '\e7c8';
}

.bootstrap4 .e-kanban .Review::before {
    content: '\e787';
}

.bootstrap4 .e-kanban .Close::before {
    content: '\e7d9';
}

.e-kanban .e-card .Interactice {
    padding: 2%;
    text-align: center;
}

    .e-kanban .e-card .Interactice:hover {
        padding: 2%;
        text-align: center;
        border: 0.4px solid #1c86c8;
    }

e-kanban .e-card .e-text .col-3 .status:before {
    font-family: "e-icons" !important;
    content: '\e270';
    color: #ffd600;
}



.e-backlog, .e-inprogress, .e-testing, .e-done {
    font-size: 16px;
    padding-right: 5px;
    display: inline-block;
}

    .e-backlog:before {
        content: "\e807";
    }

    .e-inprogress:before {
        content: "\e808";
    }

    .e-testing:before {
        content: "\e809";
    }

    .e-done:before {
        content: "\e80a";
    }

.row {
    margin-left: 15px;
    margin-right: 15px;
}

.leftcontainer {
    padding: 5%;
    border-right: 0.2px solid black;
}