@{
    var id = ViewData["TransferId"] as int?;
    var ProjectId = ViewData["ProjectId"] as int?;
}
<link href="~/css/ViewComponents/ChatWindow/Index.css" rel="stylesheet">


<div id="MainContentOverlay" class="col-md-9">
    <div class="row "  style="padding: 0;margin: 0;">
        <!-- Basic Card Layout  -->
        <div tabindex="0" class="e-chat"   style="height: 83vh;" id="ChatCard" >
            <div class="e-card-content">
                <div class="ChatArea" id="ChatArea">
                    
                    <div class="row ChatMessage">
                        <div class="col-md-2">
                            <img class="ResponsiveChatImage" src="https://www.medicinelodge.ca/wp-content/uploads/missing-avatar.jpg" />
                        </div>
                        <div class="col-md-10">
                            <div class="row">
                                <p> 
                                    <span class="ChatUserName">Kristifor</span>, 11.5.2020
                                </p>
                            </div>
                             <div class="row ChatMessageContent">
                                <p  class="AlignText">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                </p>
                            </div>
                        </div>
                    </div>
        
                </div>
            </div>
        </div>

     </div>
    <div class="row" style="padding: 0;margin: 0;">
        <!-- Basic Card Layout  -->
        <div tabindex="0" class="e-card " style="height: 100px;" id="ChatCard" >
            <div class="e-card-content">
                <div class="col-md-9">
                    <input id="InputChat" />
                </div>
                <div class="col-md-3">
<<<<<<< HEAD
                    <button class="btn btn-primary e-control e-btn e-lib e-outline e-primary" style="width: 50%;text-align: center;margin-left: 25%;margin-right: 25%;margin-top: 10%;margin-bottom: 10%;" onclick="SendChatRoomMessage()">Submit</button>
=======
                    <button class="btn btn-primary e-control e-btn e-lib e-outline e-primary" style="width: 50%;text-align: center;margin-left: 25%;margin-right: 25%;margin-top: 10%;margin-bottom: 10%;" onclick="SendNewChatMessage()">Submit</button>
>>>>>>> 58f0b919a2df23f687234ea5ec387e0b7ac8835a
                </div>
            </div>
        </div>

     </div>
</div>
<div id="UserListOverlay" class="col-md-3">
     <div class="row "  style="padding: 0;margin: 0;">
        <!-- Basic Card Layout  -->
        <div tabindex="0" class="e-UserList"   style="height: 93.6vh;" id="ChatCard" >
            <div class="e-card-content">
                <div class="UserList">
                   <div class="row UserListRow" id="Email" >
                       <div class="row">
                            <div class="col-md-2">
                                    <img class="ResponsiveUserListImage" src="https://www.medicinelodge.ca/wp-content/uploads/missing-avatar.jpg" />
                            </div>
                            <div class="col-md-6" style="font-size: 22px; padding-top:2%">
                                <span  onclick="OpenUserModal()">Kristifor</span>
                            </div>
                            <div class="col-md-2" style="font-size: 16px; padding-top:2%">
                                Online
                            </div>
                       </div>
                       <div id="UserInputControl1">
                           <hr/>
                       
                        </div>
                   </div>
                </div>
            </div>
        </div>

     </div>            

</div>

<script>
var InputChat = new ej.inputs.TextBox({
    placeholder: "What's on your mind",
    floatLabelType: 'Auto'
});
InputChat.appendTo('#InputChat');
var LastContent;
function OpenUserModal()
{
    LastContent = "#UserInputControl1";
    $(LastContent).html("");
    $("#UserInputControl1").load("/Chat/GetUserDirectMessageControl?projectId=@ProjectId&&id="+2);
}


function CloseChatUserPreview()
{
    $(LastContent).html("");

}
</script>