@{
    var data = ViewData["CurrentCommitDetails"] as string;
}
<div id="myDiffElement" style="width:100%;"></div>
<link href="~/js/Difftool/bundles/css/diff2html.min.css" rel="stylesheet" />
<script src="~/js/Difftool/bundles/js/diff2html.min.js"></script>

<script src="~/js/Difftool/bundles/js/diff2html-ui.min.js"></script>
 
<script>

    document.addEventListener('DOMContentLoaded', () => {

        var targetElement = document.getElementById('myDiffElement');
        var configuration = {
            drawFileList: true,
            fileListToggle: true,
            fileListStartVisible: true,
            fileContentToggle: false,
            matching: 'lines',
            outputFormat: 'side-by-side',
            synchronisedScroll: true,
            highlight: true,
            renderNothingWhenEmpty: false,
        };
        var diff2htmlUi = new Diff2HtmlUI(targetElement, `@Html.Raw(@data.Replace("</script>", "script"))`, configuration);
        diff2htmlUi.draw();
        diff2htmlUi.highlightCode();
    });
    $('table').on('click', 'tr', function () {
        alert($(this).text());
    });
 
 
</script>

