@{
    var ProjectId = ViewData["ProjectId"];
    var defaultIteration = ViewData["DefaultIteration"] as int?;
    var defaultDashboard = ViewData["DefaultDashboard"] as int?;
}


<div class="row" style="margin:0;">
    <div>
        <ul id="main-treeview">
        </ul>
    </div>
</div>


<script>
      var URL = location.href.replace(location.search, '');

    data = [

        {
            nodeId: '01', nodeText: 'Dashboard', iconCss: 'icon-th icon',expanded: true,
            nodeChild: [
                { nodeId: '01-01', nodeText: 'Home', iconCss: 'fas fa-home', link:'/Dashboard/ProjectDashboard?id=@ProjectId' },
                { nodeId: '01-02', nodeText: 'Project Details', iconCss: 'fas fa-project-diagram', link:'/Dashboard/ProjectDetails?projectId=@ProjectId&&dashboardId=@defaultDashboard' },
            ]
        },
        {
            nodeId: '02', nodeText: 'Backlog', iconCss: 'icon-code icon',expanded: true,
            nodeChild: [
                { nodeId: '02-01', nodeText: 'Work Items', iconCss: 'fas fa-toolbox', link: '/Backlogs/Index?projectId=@ProjectId&&boardId&&iteration=@defaultIteration' },
                { nodeId: '02-02', nodeText: 'Planning Boards', iconCss: '<fas fa-clipboard-list', link: '/Boards/Index?projectId=@ProjectId' },
                { nodeId: '02-03', nodeText: 'Backlog', iconCss: 'fas fa-list', link: '/Boards/ProjectBacklog?projectId=@ProjectId&&workItemType=5&&iteration=@defaultIteration' },
                { nodeId: '02-04', nodeText: 'Sprints', iconCss: 'fas fa-pager', link: '/Boards/Sprints?projectId=@ProjectId&&workItemType=7&&iteration=@defaultIteration&&person=0' },
                { nodeId: '02-05', nodeText: 'View Changelogs', iconCss: 'fab fa-phoenix-framework', link: '/Changelog/ViewChangelogs?projectId=@ProjectId' },
                { nodeId: '02-06', nodeText: 'Queries', iconCss: 'fas fa-tag', link: '/Widget/Queries?projectId=@ProjectId' },

            ]
        },
         {
            nodeId: '03', nodeText: 'Administration', iconCss: 'fas fa-user-cog',expanded: true,
            nodeChild: [
                { nodeId: '03-01', nodeText: 'Manage Accounts', iconCss: 'fas fa-user-shield', link:'/Dashboard/ManageAccounts?id=@ProjectId' },
                { nodeId: '03-02', nodeText: 'Generate Changelog', iconCss: 'fab fa-pied-piper-square', link:'/Dashboard/ChangelogGenerator?projectId=@ProjectId' },
                { nodeId: '03-03', nodeText: 'API Key Integations', iconCss: 'fab fa-keycdn', link:'/ApiKeySettings/ProjectApiKeys?projectId=@ProjectId' },
                { nodeId: '03-04', nodeText: 'Documentation', iconCss: 'fas fa-book', link:'/Documentation/Index?Id=@ProjectId' },
                { nodeId: '03-05', nodeText: 'Survey Management', iconCss: 'fas fa-thumbtack', link:'/Survey/Index?projectId=@ProjectId' },
            ]
        },


    ];

    // TreeView  initialization
    var mainTreeView= new ej.navigations.TreeView({
        fields:
        {
            dataSource: data,
            id: 'nodeId',
            text: 'nodeText',
            child: 'nodeChild'
        }
        ,nodeSelected: LinkSelected,
        expandOn: 'Click',
     });

    mainTreeView.appendTo('#main-treeview');


    function LinkSelected(args)
    {

        data.forEach(element =>
        {

            element.nodeChild.forEach(child =>
            {

                if(child.nodeId === args.nodeData.id)
                {

                    window.location.href = child.link;
                }
            });
        });


    }

</script>