@{
    var KeySettings = ViewData["ProjectKeyPublicMessage"] as AssociatedProjectApiKeys;
    var ProjectId = ViewData["ProjectId"] as int?;
    var value = ViewData["RuleValuePublicMessage"] as int?;

}
<style>
    .e-input-picture:before {
        content: '\e30d';
        font-family: e-icons;
    }
    
    .e-input-calendar:before {
        content:'\e901';
        font-family: e-icons;
        font-size: 13px;
    }

</style>

<div class="col-lg-12 control-section">
    <div class="row">
        <div class="control_wrapper">
            <div class="col-md-6">
                <label for="EnableDiscusssionss" style="padding:2%; min-width:303px;">Enable Public Chat</label>
                <input id="EnableDiscusssionss" onchange="DiscusssionssHandlerChanged()" type="checkbox" />
            </div>
            <div class="col-md-6">
                <div class="e-input-group e-float-icon-left">
                    <span class="e-input-group-icon e-input-picture" onclick="CopyToClipboard()"></span>
                    <div class="e-input-in-wrap">
                        <input class="e-input" id="InputDiscusssions" type="text" placeholder="Enable Public Bug Reporting" value="@KeySettings.ApiSecret" disabled/>
                    </div>
                </div>
            </div>

        </div>
    </div>
      <div class="row">
        <div class="control_wrapper">
           
        </div>
    </div>
</div>


<script>
    var EnableDiscusssionss;
    EnableDiscusssionss = new ejs.buttons.Switch({ checked: @value });
    EnableDiscusssionss.appendTo('#EnableDiscusssionss');
    var DiscusssionsChecked = 0;
    function DiscusssionssHandlerChanged()
    {
        if (EnableDiscusssionss.properties.checked === true)
        {
            DiscusssionsChecked= 1;
            $("#InputDiscusssions").prop( "disabled", false )
        }
        else
        {
            DiscusssionsChecked = 0;
            $("#InputDiscusssions").prop( "disabled", true )

        }
          var dto = {
            "ProjectId":@ProjectId,
            "RuleName": "PublicMessage",
            "Value": DiscusssionsChecked
        }
        $.ajax({
            type: 'POST',
            url: '/ApiKeySettings/EnableProjectFeature',
            data: JSON.stringify(dto),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                alert("Feature enabled, please save you api key to authorize the connection on the front end of your application.");
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });
    }

</script>



