
@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    var Project = ViewData["ProjectId"] as int?;
}

<div class="row" style="margin-left:10px;">
    <div class="col-md-12">
        <button id="NewQuery"  class="btn btn-primary e-control e-btn e-lib e-outline e-primary">Run Query</button>
        <button id="QueryBtn"  class="btn btn-primary e-control e-btn e-lib e-outline e-primary">New Work Item</button>
     </div>
</div>


<div> Kakdaskwakda</div>
<div class="row">
    @await Component.InvokeAsync("QueryBuilder", new  IncomingIdRequest{
        ProjectId = @Project.Value
    })

</div>