@{
    var Notifications = ViewData["Notifications"] as List<Platform.Models.BindingNotification>;
    var Account = ViewData["UserAccount"] as UserAccounts;
    var ProjectId = ViewData["ProjectId"] as int?;
}


<style>
  .e-toolbar .e-toolbar-items:first-child > .e-toolbar-item:last-child{
        margin: 0;
        padding: 0;
    }
    .e-badge.e-badge-primary:not(.e-badge-ghost):not([href]), .e-badge.e-badge-primary[href]:not(.e-badge-ghost) {
        background-color: #41b3d3;
    }
     .sample_container.badge-toolbar {
        display: table;
        margin: auto;
    }
    .e-toolbar .e-toolbar-items .e-toolbar-item:not(.e-separator)
    {
        padding: 1px;
    }
    @@media only screen and (max-width: 550px) {
        .sample_container.badge-toolbar #toolbar .header {
            display: none;
        }

        .material .sample_container.badge-toolbar .e-toolbar .e-toolbar-items:first-child>.e-toolbar-item:last-child {
            margin-right: 9px;
        }

        .bootstrap .sample_container.badge-toolbar .e-toolbar .e-toolbar-items:first-child>.e-toolbar-item:last-child {
            margin-right: 10px;
        }
    }

    .sample_container.badge-toolbar .badge-block {
        position: relative;
        display: inline-block;
        margin: 20px 13px 10px 10px;
    }

    .icons {
        width: 28px;
        height: 28px;
        display: inline-block;
    }

    #toolbar .header {
        font-size: 18px;
     }

    /* SVG Icons */

    .workItem {
        background: transparent url("https://img.icons8.com/wired/24/000000/work-light.png") no-repeat 100% 100%;
    }

    .message {
        background: transparent url("https://img.icons8.com/dotty/24/000000/appointment-reminders.png") no-repeat 100% 100%;
    }

    .user-profile {
        background: transparent url("https://img.icons8.com/wired/28/000000/settings.png") no-repeat 100% 100%;
    }
</style>
 <div class="row" style="padding:0; margin:0;">
     <div class="sample_container badge-toolbar" style="width:100%">
        <div id="toolbar">
            <div>
                <div class="header" style="color:#656a70; margin-right:49px;">
                    Notifications
                </div>
                <div>
                    <div class="badge-block">
                        <div class="message icons" onclick="OpenNotifications()"></div>
                        <!-- Notification Badge -->
                        <span id="NotificationCount" class="e-badge e-badge-primary e-badge-notification e-badge-overlap" style="background-color: #41b3d3;">@Notifications.Count</span>
                    </div>
                </div>
                <div>
                    <div class="badge-block">
                        <div class="user-profile icons" onclick="CallUrl('/Accounts/GetUserProfile?projectId=@ProjectId')"></div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
</div>
<div class="row" style="padding:0; margin:0;">
    <div class="sample_container badge-toolbar" style="width: 100%;">
        <div id="userBar">
            <div>
                <div class="header" style="margin-right:-8px; font-size: 18px;color:#656a70">
                    Assigned work items
                </div>
                <div>
                    <div class="badge-block">
                        <div class="workItem icons"></div>
                        <!-- Notification Badge -->
                    </div>
                </div>
                <div>
                    <div class="badge-block">
                        50
                    </div>
                </div>
                
            </div>
            <div>
                <div class="header"  style="margin-right: 43px;font-size: 18px;margin-left: 7px;padding-bottom: 17px;color:#656a70">
                    Account: Kristifor
                </div>
              
                
            </div>
        </div>
    </div>
    
</div>

<script>
     var toolbarObj = new ej.navigations.Toolbar();
    //Render initialized Toolbar component
    toolbarObj.appendTo('#toolbar');
    var userBar = new ej.navigations.Toolbar();
    //Render initialized Toolbar component
    userBar.appendTo('#userBar');


    function OpenNotifications()
    {
        $('#NavGrid').slideToggle();
        $('#NotificationGrid').slideToggle();
    }
</script>