@{
    var chars = "abcdefghijklmnopqrstuvwxyz0123456789";
    var random = new  System.Random();
    var ProjectId = ViewData["ProjectId"] as int?;
    var assignedLetter =chars[random.Next(chars.Length-1)];
    var assignedId  =  $"AssignedItems_{assignedLetter}";
    var ContainerId = ViewData["ContainerId"] as int?;
}

<style>
   
    .fa-bug:before{
        font-family: "e-icons" !important;
        content: '\e191';
        color: #1f818c;
        width: 30px;
        height: 30px;
    }
    .fa-cog:before{
        font-family: "e-icons" !important;
        content: '\e679';
        color: #1f818c;
        width: 30px;
        height: 30px;
    }
    .fa-tasks:before{
        font-family: "e-icons" !important;
        content: '\e728';
        color: #1f818c;
        width: 30px;
        height: 30px;
    }
    .fa-vial:before{
        font-family: "e-icons" !important;
        content: '\e664';
        color: #1f818c;
        width: 30px;
        height: 30px;
    }
    .fa-crown:before{
        font-family: "e-icons" !important;
        content: '\e824';
        color: #1f818c;
        width: 30px;
        height: 30px;
    }
    .fa-exclamation-triangle:before{
        font-family: "e-icons" !important;
        content: '\e74c';
        color: #1f818c;
        width: 30px;
        height: 30px;
    }
    .fa-user-circle:before{
        font-family: "e-icons" !important;
        content: '\e193';
        color: #1f818c;
        width: 30px;
        height: 30px;
    } 
    .e-virtualtrack{
        height: 75vh;
        width: 100%;
    }
  
</style>

 <div class="control-section" style="height:100%;">
    <div class="content-wrapper">
        <div id="@assignedId"></div>
    </div>
</div>

<script>

        var dto = {
            "ProjectId": @ProjectId,
            "Phase" : "!"
        }
        console.log(dto);
        $.ajax({
            type: 'POST',
            url: '/Backlogs/GetUserWorkItems',
            data: JSON.stringify(dto),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                console.log("In");
                InitializeAssignedGrid(response,'@assignedId',@ContainerId);
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });
    
</script>