@{
    var userName =  ViewData["Name"] as string;
}

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js" type="text/javascript"></script>
	<link href="https://cdn.syncfusion.com/ej2/material.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

	<link rel="stylesheet" href="~/css/site.css">

</head>
<body>



 <div class="d-flex" id="wrapper">
		<!-- website content -->
		<div class="content">
			<!-- content container -->
			<div class="container-fluid">
				@RenderBody();
			</div>
		</div>
	</div>
  

 
<script src="https://kit.fontawesome.com/5f9031f0c7.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>



</body>
</html>
