<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Schedule JS - Celltemplate Functionalities</title>
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0" />
    <link href="../content/bootstrap.min.css" rel="stylesheet" />
    <link href="../content/ejthemes/default-theme/ej.web.all.min.css" rel="stylesheet" />
    <link href="../content/default.css" rel="stylesheet" />
    <link href="../content/default-responsive.css" rel="stylesheet" />
    <link href="../content/ejthemes/responsive-css/ej.responsive.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="../scripts/jquery-1.11.3.min.js" ></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script type="text/javascript" src="../scripts/jquery-3.3.1.min.js"></script>
    <!--<![endif]-->
    <script src="../scripts/jsrender.min.js"></script>
    <script src="../scripts/ej.web.all.min.js" type="text/javascript"></script>
    <script src="../scripts/properties.js" type="text/javascript"></script>
    <script src="../scripts/jsonscheduledata.js" type="text/javascript"></script>
</head>
<body>
    <div class="content-container-fluid">
        <div class="row">
            <div class="cols-sample-area">
                <div style="float: left" id="Schedule1"></div>
            </div>
            <div class="cols-prop-area">
                <div class="heading">
                    <span>Templates</span>
                </div>
                <div class="prop-grid content">
                    <div class="row">
                        <div class="col-md-3">Orientation</div>
                        <div class="col-md-3">
                            <select name="selectIndex" class="e-ddl" id="orientation">
                                <option value="vertical">Vertical</option>
                                <option value="horizontal">Horizontal</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3">Disable TimeScale</div>
                        <div class="col-md-3"><input type="checkbox" id="timeScale" /></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3">AllDayCells Customization</div>
                        <div class="col-md-3"><input type="checkbox" id="allDay" /></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3">DateHeader Customization</div>
                        <div class="col-md-3"><input type="checkbox" id="dateHeader" /></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3">WorkCells Customization</div>
                        <div class="col-md-3"><input type="checkbox" id="workCells" /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script id="resTemplate" type="text/x-jsrender">
        <div style="height:100%">
            <div>
                {{if classname == 'e-parentnode'}}
                <div style="width:15px;height:15px;margin-right:5px;margin-top:3px;float:left;background:{{:color}};"></div>
                {{/if}}
                <div>{{:text}}</div>
            </div>
        </div>
    </script>
    <script id="allDayTemplate" type="text/x-jsrender">
        <span style="opacity:0.5;display:block;text-align:center">AllDay</span>
    </script>
    <script id="dateTemplate" type="text/x-jsrender">
        <div>{{:~dTemplate(date)}}</div>
    </script>
    <script id="workTemplate" type="text/x-jsrender">
        {{if resource.classname == 'e-parentnode'}}
        {{:resource.text}}
        {{else}}
        {{if date.getDay() == 0 || date.getDay() == 6}}
        <div class="image"><img src='../content/images/schedule/weekend.png' /><br /><span class="caption">Weekend</span></div>
        {{else}}
        {{if view == 'month' && resource.text == 'Party Hall-A' && date.getDay() == 5}}
        <div class="image"><img src='../content/images/schedule/meeting.png' /><br /><span class="caption">Meeting</span></div>
        {{else resource.text != 'Party Hall-B' && date.getDate() == 15}}
        <div class="image"><img src='../content/images/schedule/holiday.png' /><br /><span class="caption">Holiday</span></div>
        {{else view != 'month' && resource.text == 'Party Hall-A' && date.getDay() == 5 && date.getHours() == 10}}
        <div class="image"><img src='../content/images/schedule/meeting.png' /><br /><span class="caption">Meeting</span></div>
        {{else view == 'month' && resource.text == 'Party Hall-B' && date.getDay() == 5}}
        <div class="image"><img src='../content/images/schedule/conference.png' /><br /><span class="caption">Conf.</span></div>
        {{else resource.text == 'Party Hall-B' && date.getDate() == 16}}
        <div class="image"><img src='../content/images/schedule/happyday.png' /><br /><span class="caption">Happyday</span></div>
        {{else view != 'month' && resource.text == 'Party Hall-B' && date.getDay() == 5 && date.getHours() == 12}}
        <div class="image"><img src='../content/images/schedule/conference.png' /><br /><span class="caption">Conf.</span></div>
        {{else date.getDate() == 10 && date.getMonth() == 11}}
        <div class="image"><img src='../content/images/schedule/wednesday.png' /><br /><span class="caption">Day Spl</span></div>
        {{else date.getDate() == 25 && date.getMonth() == 11}}
        <div class="image"><img src='../content/images/schedule/christmas.png' /><br /><span class="caption">Christmas</span></div>
        {{/if}}
        {{/if}}
        {{/if}}
    </script>
    <script type="text/javascript">
        $(function () {
            var dManager = ej.DataManager($.extend(true, [], window.ResourcesData)).executeLocal(ej.Query().take(0));
            $("#Schedule1").ejSchedule({
                width: "100%",
                height: "575px",
                views: ["Week", "Month"],
                currentView: "Month",
                //resourceHeaderTemplateId: "#resTemplate",
                workCellsTemplateId: "#workTemplate",
                currentDate: new Date(2017, 11, 10),
                showAppointmentNavigator: false,
                group: {
                    resources: ["Rooms", "Owners"]
                },
                resources: [
                {
                    field: "roomId",
                    title: "Room",
                    name: "Rooms", allowMultiple: false,
                    resourceSettings: {
                        dataSource: [
                        { text: "Star Hotel", id: 1, groupId: 1, color: "#cb6bb2" }],
                        text: "text", id: "id", groupId: "groupId", color: "color"
                    }
                }, {
                    field: "ownerId",
                    title: "Owner",
                    name: "Owners", allowMultiple: true,
                    resourceSettings: {
                        dataSource: [
                        { text: "Party Hall-A", id: 1, groupId: 1, color: "#ffaa00" },
                        { text: "Party Hall-B", id: 3, groupId: 1, color: "#f8a398" }],
                        text: "text", id: "id", groupId: "groupId", color: "color"
                    }
                }],
                appointmentSettings: {
                    dataSource: dManager,
                    id: "Id",
                    subject: "Subject",
                    startTime: "StartTime",
                    endTime: "EndTime",
                    description: "Description",
                    allDay: "AllDay",
                    recurrence: "Recurrence",
                    recurrenceRule: "RecurrenceRule",
                    resourceFields: "roomId,ownerId"
                }
            });
            $("#orientation").ejDropDownList({ selectedItemIndex: 0, select: "orientation", width: "100px" });
            $("#timeScale").ejCheckBox({ change: "timeScale", checked: false });
            $("#allDay").ejCheckBox({ change: "allDayCus", checked: false });
            $("#dateHeader").ejCheckBox({ change: "dateHeaderCus", checked: false });
            $("#workCells").ejCheckBox({ change: "workCellsCus", checked: true });
        });

        function _dateFormat(date) {
            return ej.globalize.format(new Date(date), "dd/MM");
        }
        $.views.helpers({ dTemplate: _dateFormat });

        function orientation(args) {
            $("#Schedule1").ejSchedule({ orientation: args.value, cellWidth: (args.value == "horizontal") ? "70px" : "" });
            $("#allDay").ejCheckBox({ enabled: (args.value == "horizontal") ? false : true });
        }

        function timeScale(args) {
            $("#Schedule1").ejSchedule({ timeScale: { enable: !args.isChecked } });
            var schObj = $("#Schedule1").ejSchedule("instance");
            schObj.model.orientation == "vertical" && $("#allDay").ejCheckBox({ enabled: !args.isChecked });
        }

        function allDayCus(args) {
            $("#Schedule1").ejSchedule({ allDayCellsTemplateId: (args.isChecked) ? "#allDayTemplate" : null });
        }

        function dateHeaderCus(args) {
            $("#Schedule1").ejSchedule({ dateHeaderTemplateId: (args.isChecked) ? "#dateTemplate" : null });
        }

        function workCellsCus(args) {
            $("#Schedule1").ejSchedule({ workCellsTemplateId: (args.isChecked) ? "#workTemplate" : null });
        }
    </script>
    <style>
        div.image {
            text-align: center;
            width: 100%;
        }

        img {
            width: 30px;
            height: 30px;
            opacity: 0.5;
        }

        .caption {
            display: block;
            opacity: 0.5;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 18px;
        }
    </style>

</body>
</html>