@{ Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    var projectId = ViewData["ProjectId"] as int?;
    var commitId = ViewData["CommitId"] as string;
    ViewData["Title"] = $"Commit {commitId}";
    var Items = ViewData["CommitDetails"] as List<(string, string, string)>;
    var defaultItem = ViewData["DefaultItem"] as (string, string)?;
}

<div class="displayFlex">
    <h1>Commit message</h1>
    <p>Commit Id <span>Kristifor Milchev</span> commited <span>Day</span> <span>Branch Name</span></p>
</div>

<div class="row" style="display:flex">
    <div class="col-md-3">
        @foreach (var item in Items)
        {
<div class="row">
    <span  onclick="UpdateEditorContentData('@item.Item3')">
        @item.Item3
    </span>
</div>            }
    </div>
    <div class="col-md-8" id="CodeArea">

        @await Component.InvokeAsync("CodeEditor", new IncomingIdRequest
       {
           Data = defaultItem,
       })

    </div>
</div>


<script>
    function UpdateEditorContentData(id) {
        debugger
        $("#CodeArea").html("");
        $("#CodeArea").load("/Repositories/UpdateEditorContent?id=" + id);
     }
</script>