
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutProjects.cshtml";
    var result = ViewData["Projects"] as List<Projects>;
    var userName =  ViewData["Name"] as string;
}
<link href="~/Syncfusion/ej2/material.css" rel="stylesheet" />
  <!-- end of sidebar element -->
        <!-- main-content declaration -->
        <div class="main-content" id="main-text" style="min-height: 94vh;">
 

 <div class="row  card-layout" style="margin-bottom: 10px;">
        <div class="col-md-12">
            <!-- Basic Card Layout  -->
            <div tabindex="0" class="e-card" id="basic_card">
                <div class="e-card-header">
                    <h2> Project Dashboard</h2>
                </div>
                <div class="e-card-content">
                   
                    <div class="page-title-subheading">Welcome Back @userName 
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="row  card-layout" style="margin-bottom: 10px;">
        <div class="col-md-12">
            <!-- Basic Card Layout  -->
            <div tabindex="0" class="e-card" id="basic_card">
                <div class="e-card-header">

                </div>
                <div class="e-card-content">
                    <button id="outlinebtn" onclick="CallProject('/Dashboard/AddNewProject?user=@userName')" style="width: 100%;"> Create New Project</button>
                </div>

            </div>
        </div>
    </div>

    <div class="row  card-layout">
        <div class="col-md-12">
            <!-- Basic Card Layout  -->
            <div tabindex="0" class="e-card" id="basic_card">
                <div class="e-card-header">
                    <h5 class="card-title text-center">Select a project</h5>
                </div>
                <div class="e-card-content">
                    <table class="mb-0 table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Project Name</th>
                            <th>Description</th>
                            <th>Date</th>
                            <th>Work Items</th>
                            <th>Build</th>
                            <th>Tests</th>
                        </tr>
                        </thead>
                        <tbody>

                            @{
                                foreach(var item in result){
                                    <tr onclick="CallProject('/Dashboard/ProjectDashboard?id=@item.Id')">
                                        <th scope="row" style="vertical-align: middle;">@item.Id</th>
                                        <td style="min-width: 226px;text-align: center;vertical-align: middle;"><a >@item.ProjectName</a></td>
                                        <td>@item.ProjectDescription</td>
                                        <td style="vertical-align: middle;">@item.CreationDate</td>
                                        <td style="vertical-align: middle;"><i class="fas fa-briefcase"></i></td>
                                        <td style="vertical-align: middle;"><i class="fas fa-shapes"></i></td>
                                        <td style="vertical-align: middle;"><i class="fas fa-vial"></i></td>

                                    </tr>
                                }
                            }
                    
                    
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
 
<div class="row">
<div class="col-md-12">
  <div class="main-card mb-3 card">
        <div class="card-body">
        </div>
    </div>
</div>
</div>
           </div>
        </div>
 <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
 <script src="~/Syncfusion/ej2/dist/ej2.min.js"></script>
<script>
    var outlinebtn = new ej.buttons.Button({ cssClass: 'e-outline', isPrimary: true });
    outlinebtn.appendTo('#outlinebtn');
    function CallProject(project)
    {
        window.location.href = project;
    }
</script>