@{
    ViewData["Title"] = "New Work Item";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    var result = ViewData["UserAccounts"] as List<UserAccounts>;
    var ProjectId = ViewData["ProjectId"] as int?;

}

<link href="https://cdn.syncfusion.com/ej2/ej2-base/styles/material.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.syncfusion.com/ej2/ej2-layouts/styles/material.css" rel="stylesheet" type="text/css" />

<div class="main-content" id="main-text" style="height: 94vh;">
    <div class="sidebar-content">
        <div class="row">
            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-body text-center">
                    <div class="row">
                        <h3>User Account Managment</h3>
                    </div>
                    <div class="row">
                            <button onclick="CallUrl('/Accounts/ManageProjectMemebers?projectId=@ProjectId')" id="AddNewMember" style="width: 100%;" ><span class="glyphicon glyphicon-file"></span> Add New User</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="control-section">
                <div class="content-wrapper">
                    <div id="Grid"></div>        
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

 <script>
    $( document ).ready(function() 
    {
        var AddNewMember = new ej.buttons.Button({ cssClass: 'e-outline', isPrimary: true });
        AddNewMember.appendTo('#AddNewMember');
        $.ajax({
            type: 'GET',
            url: '/Authenication/GetManagmentUsers?projectId=@ProjectId',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                LoadAccounts(response);
            },
            error: function (xhr, status, error) {
    
            }
        });
        
    });

    function LoadAccounts(data){
        var grid = new ej.grids.Grid({
            dataSource: data,
            editSettings: { allowEditing: true, allowAdding: true, allowDeleting: true, allowEditOnDblClick: false },
            beginEdit : EditClicked,
            actionBegin: ActionComplete,
             columns: [
                { field: 'name', headerText: 'Name', width: 120, textAlign: 'Right' },
                { field: 'email', headerText: 'Email', width: 150 },
                { field: 'type', headerText: 'Account Type', width: 130, format: 'yMd', textAlign: 'Right' },
                { field: 'createdAt', headerText: 'Created At', width: 130, format: 'yMd', textAlign: 'Right' },
                { headerText: 'Manage Records', width: 160,
                commands: 
                    [
                        { type: 'Edit', buttonOption: { iconCss: ' e-icons e-edit', cssClass: 'e-flat' }, click: EditClicked },
                        { type: 'Delete', buttonOption: { iconCss: 'e-icons e-delete', cssClass: 'e-flat' }, click: DeleteClicked },
   
                    ]
                }
            ]
        });
        grid.appendTo('#Grid');
    }
    function EditClicked(args){
        console.log(args);
        window.location.href="/Dashboard/EditAccount?id="+args.rowData.accountId+"&&projectId="+@ProjectId;
    }
    function ActionComplete(args){
        console.log(args);
        if(args.requestType == "delete")
        {
            var dto = {
                "AccountId" : args.data[0].accountId,
                "ProjectId" : @ProjectId
            }
            $.ajax({
            type: 'POST',
                url: '/Accounts/DeleteProjectAccount',
                data: JSON.stringify(dto),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    alert("Records have been added!");
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }
    }

    function DeleteClicked()
    {
        
    }

    function CallUrl(url)
    {
        window.location.href=url;
    }
</script>