
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutProjects.cshtml";
    var result = ViewData["Projects"] as List<Projects>;
    var userName =  ViewData["Name"] as string;
}
<!-- end of sidebar element -->
        <!-- main-content declaration -->
        <div class="main-content" id="main-text" style="height: 94vh;">
            <div class="sidebar-content">
<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-body text-center">

                    <h1> Welcome back @userName </h1>
                
            </div>
        </div>
    </div>
</div>
<div class="row">
<div class="col-md-12">
  <div class="main-card mb-3 card">
        <div class="card-body"><h5 class="card-title text-center">Select a project</h5>
          <div class="row">
              <div class="col-md-1">
                  {Initials}
              </div>
              <div class="col-md-3">
                  <h1>{Project Name}</h1>
              </div>
              <div class="col-md-8">
                <a><i class="fas fa-cogs"></i> Settings</a>
                <a><i class="far fa-user"></i> Add User</a>

              </div>
          </div>
        </div>
    </div>
</div>
</div>
         </div>
        </div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>